@using ProfessionalWebsite.Client.FEProjectControllers.HideAndSeekProject

<PageTitle>Hide & Seek - Collyn Brenner</PageTitle>

<ProjectsPageTemplate>
    <div class="top-row">
        <div class="top-row-floating-center">
            @* <div class="top-row-corners"> *@
            @*     <a href="projectinfo/15"> *@
            @*         <div class="top-corner-button-containers "> *@
            @*             <span class="fa-solid fa-circle-info"></span> *@
            @*         </div> *@
            @*     </a> *@
            @* </div> *@
            <button class="btn @selectUiCSS[UiVersion.One]" @onclick="(()=>SetUi(UiVersion.One))">Original UI</button>
            <button class="btn @selectUiCSS[UiVersion.Two]" @onclick="(()=>SetUi(UiVersion.Two))">Current UI</button>
            @* <div class="top-row-corners"></div> *@
        </div>
    </div>
    @if (CurrentUiVersion == UiVersion.One)
    {
        <div class="container">
            <br />
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <label class="text-center">Game Status</label>
                        <textarea rows="12">
                            @((MarkupString)StatusV1.Replace("<br>", "&#10;"))
                        </textarea>
                    </div>
                    <br />
                    <div class="row">
                        <label class="text-center">Game Progress</label>
                        <textarea rows="3">
                            @((MarkupString)GameProgress.Replace("<br>", "&#10;"))
                        </textarea>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 w-100">
                            <label class="text-center  w-100">Directions</label>
                            <select @bind="SelectedDirection" size="8" class="w-100 text-center">
                                @for (int i = 0; i < CurrentLocation.Exits.Count(); i++)
                                {
                                    <option value="@CurrentLocation.Exits.ToList()[i].Key">
                                        @CurrentLocation.Exits.ToList()[i].Key
                                    </option>
                                }
                            </select>
                            <button class="btn btn-primary w-100 my-2" @onclick="(()=>Move(SelectedDirection))">
                                Move
                            </button>
                            <button class="btn btn-info text-light w-100 my-2" @onclick="CheckForOpponents">
                                Check
                            </button>
                            <input class="text-center w-100 mt-2" type="text" placeholder="filename for Save" @bind=FileNameToBeSaved />
                            <button class="btn btn-dark w-100 mb-2" @onclick="Save">
                                Save
                            </button>
                            <input class="text-center w-100 mt-2" type="text" placeholder="filename for Load" @bind=FileNameToBeLoaded />
                            <button class="btn btn-secondary w-100 mb-2" @onclick="Load">
                                Load
                            </button>
                            <button class="btn btn-danger w-100 my-2" @onclick="SetNewGame">
                                Restart
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    }
    @if (CurrentUiVersion == UiVersion.Two)
    {
        <div class="current-ui-container">
            <div class="text-prompts-container-container">
                <div class="text-prompts-container">
                    <div class="text-prompts">
                        <p class="game-progress">
                            @((MarkupString)GameProgress)
                        </p>
                        <p style="padding: 0px 40px 14px 40px">
                            @((MarkupString)StatusV1
                                .Replace(" (or click 'Check')", "")
                                .Replace(
                                    "Press \"Restart\" to restart to restart the game or press \"Quit\" to quit.", 
                                    "<br>Click the red restart button to play again"))
                        </p>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class="controls-backdrop">
                    <div class="save-load">
                        <button class="btn btn-secondary saveloadcontrol-button" @onclick="ShowSaveOptions">
                            @if (IsCurrentControls(ControlsOption.SaveGame))
                            { <span class="fa-solid fa-gamepad"></span> }
                            else
                            { <span class="fa-solid fa-floppy-disk"></span> }
                        </button>
                        <button class="btn btn-secondary saveloadcontrol-button" @onclick="ShowLoadOptions">
                            @if (IsCurrentControls(ControlsOption.LoadGame))
                            { <span class="fa-solid fa-gamepad"></span> }
                            else
                            { <span class="fa-solid fa-upload"></span> }
                        </button>
                        <button class="btn btn-danger saveloadcontrol-button" @onclick="SetNewGame">
                            <span class="fa-solid fa-rotate"></span>
                        </button>
                    </div>

                    @if (IsCurrentControls(ControlsOption.Play))
                    {
                        <div class="directions-container">
                            <div class="directions-row">
                                <div class="direction @GetDirectionCSS(Direction.Northwest)"
                                @onclick="(()=>Move(Direction.Northwest))">NW</div>
                                <div class="direction @GetDirectionCSS(Direction.North)"
                                @onclick="(()=>Move(Direction.North))">N</div>
                                <div class="direction @GetDirectionCSS(Direction.Northeast)"
                                @onclick="(()=>Move(Direction.Northeast))">NE</div>
                            </div>
                            <div class="directions-row">
                                <div class="direction @GetDirectionCSS(Direction.West)" 
                                @onclick="(()=>Move(Direction.West))">W</div>
                                <div class="direction search-button" @onclick="CheckForOpponents">
                                    <span class="fa-solid fa-magnifying-glass"></span>
                                </div>
                                <div class="direction @GetDirectionCSS(Direction.East)" 
                                @onclick="(()=>Move(Direction.East))">E</div>
                            </div>
                            <div class="directions-row">
                                <div class="direction @GetDirectionCSS(Direction.Southwest)" 
                                @onclick="(()=>Move(Direction.Southwest))">SW</div>
                                <div class="direction @GetDirectionCSS(Direction.South)"
                                @onclick="(()=>Move(Direction.South))">S</div>
                                <div class="direction @GetDirectionCSS(Direction.Southeast)"
                                @onclick="(()=>Move(Direction.Southeast))">SE</div>
                            </div>
                        </div>
                        <div class="noncompass-directions-container">
                            <div class="directions-row">
                                <div class="direction @GetDirectionCSS(Direction.Up)" 
                                @onclick="(()=>Move(Direction.Up))">
                                    <span class="fa-solid fa-arrow-up"></span>
                                </div>
                                <div class="direction @GetDirectionCSS(Direction.In)"
                                @onclick="(()=>Move(Direction.In))">In</div>
                            </div>
                            <div class="directions-row">
                                <div class="direction @GetDirectionCSS(Direction.Down)"
                                @onclick="(()=>Move(Direction.Down))">
                                    <span class="fa-solid fa-arrow-down"></span>
                                </div>
                                <div class="direction @GetDirectionCSS(Direction.Out)"
                                @onclick="(()=>Move(Direction.Out))">Out</div>
                            </div>
                        </div>
                    }
                    @if (IsCurrentControls(ControlsOption.SaveGame))
                    {
                        <div class="input-saveload-container">
                            <input class="text-center short-input" type="text" placeholder="filename for Save" @bind=FileNameToBeSaved />
                            <button class="btn btn-dark" @onclick="Save">
                                Save
                            </button>
                        </div>
                    }
                    @if (IsCurrentControls(ControlsOption.LoadGame))
                    {
                        <div class="input-saveload-container">
                            <input class="text-center short-input" type="text" placeholder="filename for Load" @bind=FileNameToBeLoaded />
                            <button class="btn btn-dark" @onclick="Load">
                                Load
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</ProjectsPageTemplate>

@code { }
﻿