@using ProfessionalWebsite.Client.Classes.Mgmt;
@implements IDisposable

@page "/"
@page "/home"
@page "/collyn"
@page "/collyn/{SectionId:int}"

<PageTitle>Home - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-book" HeaderText="Biography">
    <DrawerContent>
        <DrawerNavLinkButton Href="collyn/17" ButtonText="Introduction" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(17))" />
        <DrawerNavLinkButton Href="collyn/18" ButtonText="Employment History" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(18))" />
        <DrawerNavLinkButton Href="collyn/19" ButtonText="Education History" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(19))" />
        <DrawerNavLinkButton Href="collyn/20" ButtonText='Notable "Done"s' OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(20))" />
        <DrawerNavLinkButton Href="collyn/21" ButtonText="Inspirations" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(21))" />
        <DrawerNavLinkButton Href="collyn/22" ButtonText="Objectives" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(22))" />
        <DrawerNavLinkButton Href="projects" IconClasses="fa-solid fa-diagram-project" ButtonText="Projects"/>
        <DrawerNavLinkButton Href="knowhow/0" IconClasses="fa-solid fa-flask" ButtonText="Know-How" />
        <DrawerNavLinkButton Href="invent/26" IconClasses="fa-solid fa-warehouse" ButtonText="Invent" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(26))" />
        <DrawerNavLinkButton Href="articles" IconClasses="fa-solid fa-newspaper" ButtonText="Articles"/>
        <DrawerNavLinkButton Href="collyn/23" IconClasses="fa-solid fa-envelope" ButtonText="Contact" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(23))" />
        <DrawerNavLinkButton Href="collyn/24" IconClasses="fa-solid fa-rotate-left" ButtonText="Feedback" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(24))" />
        <DrawerNavLinkButton Href="collyn/25" ButtonText="Background" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(25))" />
    </DrawerContent>
    <PageContent>
        <div class="sub-page-container">
            <div class="sections-container">
                @if (SectionMgmt.Instance.SectionIsVisible(17))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[17].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(17))">
                            Introduction
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[17].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[17].IsCollapsedContent">
                            <h3 class="section-content-title"><b>Welcome!</b></h3>
                            <p>My name is Collyn Brenner. Here you can find out who I am including my interests, creations, abilities, ideas and plans for the future. You can also check out the <i>Articles</i> section for further commentary on various topics.
                            </p>
                            <p>
                                This portfolio's contents have professional relevance (as is expected from a portfolio), but it is also designed to give the beginning programmer a leg up and a map of the landscape I have traversed. It is for this reason that you may perceive it to be more personable than expected. I take care to adhere to business-optimal standards of professionalism as a necessity in the workplace, but here I am aiming to go beyond just that and instead to try and aid those who wish to follow in a similar path as the way which I have come. 
                            </p>
                            <br/>
                            <h4 class="text-center"><b><i>Integrity is Integral</i></b></h4>
                            <br/>
                            <p>In any serious endeavor, a person can most often use extra help. This help, however, must be a reliable help and one that is unchanging in the fundamentals. For me, <b>integrity is integral</b>.</p>
                            <p>I would like to demonstrate my dependability and integrity for you, because I know what it is like to have full confidence in something/someone that ends up failing you. Take me on as one of your dependencies for growth. No matter how deep in the weeds you might get, you have to <u>keep moving forward</u> with your <u>eyes on the prize</u> and with the <u>mission in mind</u>.</p>
                            <p>
                                I invite you to enjoy the content found here wherever possible. This website is for you. If you have any questions or want to get in contact with me, please don’t hesitate - send me a message here: *“Contact” button*
                            </P>
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(18))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[18].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(18))">
                            Employment History
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[18].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[18].IsCollapsedContent">
                            <h3 class="section-content-title"><b>Employment History</b></h3>
                            <div>
                                <button class="btn @SelectedWorkHistoryContent[0]" @onclick="(()=>UpdateWorkHistorySectionContent(0))">BlueSky</button>
                                <button class="btn @SelectedWorkHistoryContent[1]" @onclick="(()=>UpdateWorkHistorySectionContent(1))">SVP</button>
                                <button class="btn @SelectedWorkHistoryContent[2]" @onclick="(()=>UpdateWorkHistorySectionContent(2))">Other Roles</button>
                            </div>
                            <br/>
                            @if (SelectedWorkHistoryContent[0] == "btn-primary")
                            {
                                <p>
                                    <b>BlueSky Synergy (primarily in-person) - January 2022 to Present</b>
                                    <br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Website: <a href="https://www.whatisbluesky.com/" target="blank">whatisbluesky.com</a>
                                    <ul>
                                        <li>Tier 1 Technical Support for Travel Healthcare Staffing SaaS</li>
                                        <li>Hired to eventually replace one of their technical support employees</li>
                                        <li>Quickly became the go-to person for handling customer API questions and documentation</li>
                                        <li>Revamped and augmented their entire knowledge base which had been neglected for some time (needed)</li>
                                        <li>Became an Agile stockholder for two development teams that were using agile methodology</li>
                                        <li>Performed manual testing/QA for BlueSky Mobile app</li>
                                        <li>Advised on system improvements based on customer knowledge as pain points presented themselves</li>
                                    </ul>
                                </p>
                            }
                            @if (SelectedWorkHistoryContent[1] == "btn-primary")
                            {
                                <p>
                                    <b>SVP Worldwide (fully remote) - July 2020 to December 2021</b>
                                    <br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Brands & Products: 
                                    <a href="https://www.singer.com/" target="blank">Singer</a> || 
                                    <a href="https://www.husqvarnaviking.com/en-US/" target="blank">Husqvarna Viking</a> || 
                                    <a href="https://www.pfaff.com/en-us/" target="blank">Pfaff</a> || 
                                    <a href="https://www.mysewnet.com/" target="blank">MySewNet</a>
                                    <ul>
                                        <li>E-Commerce Order Systems Management and Embroidery Software Support Representative</li>
                                        <li>Hired as Consumer Orders Representative (customer support)</li>
                                        <li>Recognized for technical competence and ability to learn systems fast and in great depth</li>
                                        <li>Brought onto Embroidery Software Support team to provide technical support in embroidery design and communications software; worked in Jira for software development improvements</li>
                                        <li>Became fill-in for Mass Order Management team member and learned systems in-depth to become a technical support person for the support teams</li>
                                        <li>Was trained in JDE, CyberSource, and Elastic Path for logistics, transactional, and order management processes respectively</li>
                                        <li>In summary, became a member of three teams simultaneously and recognized as an asset that would willingly diversify his skill set to supply a demand when presented</li>
                                    </ul>
                                </p>  
                            }
                            @if (SelectedWorkHistoryContent[2] == "btn-primary")
                            {
                                <p>Other roles served elsewhere:</p>
                                <ul>
                                    <li>Valet (<a href="https://eagleparking.com/" target="blank">Eagle Parking</a>, Nashville, TN)</li>
                                    <li>Director’s Assistant (Plymouth Rock Racing, Plymouth, MA)</li>
                                    <li>Lifeguard (<a href="https://johncarverinn.com/" target="blank">John Carver Inn & Spa</a>, Plymouth, MA)</li>
                                    <li>Waiter (<a href="https://exquisiteeventservice.com/" target="blank">Exquisite Event Service</a>, Boston, MA)</li>
                                    <li>Caterer (<a href="https://order.chick-fil-a.com/get-started/catering" target="blank">Chick-fil-A Catering</a>, Nashville, TN)</li>
                                    <li>Gig Driver (<a href="https://www.ubereats.com/" target="blank">Uber Eats</a>, Nashville, TN)</li>
                                </ul>
                            }
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(19))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[19].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(19))">
                            Education History
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[19].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[19].IsCollapsedContent">
                            <h3 class="section-content-title"><b>Education History</b></h3>
                            <p>Formal Academic Education</p>
                            <ul>
                                <li>K-10 - Attended The New Testament Christian School (<a href="https://www.tntcsplymouth.com/" target="blank">website</a>), Plymouth, MA</li>
                                <li>11-12 - Attended Plymouth South High School (<a href="https://www.plymouth.k12.ma.us/Page/651" target="blank">website</a>), Plymouth, MA</li>
                                <li>Undergraduate degree - Bachelors of Science in Computer Information Technology from Trevecca Nazarene University (<a href="https://www.trevecca.edu/" target="blank">TNU website</a>)</li>
                            </ul>
                            <p>
                                Extracurricular Programming Courses Completed
                            </p>
                            <ul>
                                <li>
                                    Free Code Camp (<a href="https://www.freecodecamp.org/" target="blank">website</a>, introduction to JavaScript, first experience with coding)
                                </li>
                                <li>
                                    Udemy’s “The Complete Bootcamp from Zero to Hero in Python" by Jose Portilla (<a href="https://www.udemy.com/course/complete-python-bootcamp/?utm_source=adwords&utm_medium=udemyads&utm_campaign=LongTail_la.EN_cc.US&utm_content=deal4584&utm_term=_._ag_81829991707_._ad_532193666393_._kw__._de_c_._dm__._pl__._ti_dsa-1007766171312_._li_9013190_._pd__._&matchtype=&gclid=Cj0KCQjwla-hBhD7ARIsAM9tQKtcwwKFJsx2Vt9h9MpPKpa6BQoU1-FyF0lNphJpXZBvZrnODO4UpdwaApEwEALw_wcB" target="blank">website</a>, introduction to Python)
</li>
                                <li>
                                    Django Polling App: Tutorial in the Django framework (Python) by YouTuber CoreyMS (<a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p" target="blank">YouTube playlist</a>)
                                </li>
                                <li>
                                    JavaScript Essential Training by LinkedIn Learning (previously Lynda.com)(<a href="" target="blank">certificate</a>, <a href="https://www.linkedin.com/learning/javascript-essential-training" target="blank">website</a>)
                                </li>
                                <li>
                                    PHP Essential Training by LinkedIn Learning (previously Lynda.com) (<a href="https://www.linkedin.com/learning/php-essential-training-2017" target="blank">website</a>)
                                </li>
                                <li>
                                    Linux Fundamentals, 1st Edition by Sandrer van Vugt - O'Reilly Learning (<a href="https://www.oreilly.com/library/view/linux-fundamentals-2nd/9780137929313/" target="_blank">2nd Edition</a>, 1st Edition featuring CentOS has been removed from O'Reilly Learning's library)
                                </li>
                                <li>
                                    HeadFirst C#, 4th Edition by Andrew Stellman and Jennifer Greene (online textbook course, all projects completed) - O'Reilly Learning (<a href="https://www.linkedin.com/learning/certificates/af8b5010f426876420fcfe04dfe4e2678d05e328b1164ba3b2524affa562e73d?trk=backfilled_certificate" target="blank">certificate</a>, <a href="https://www.oreilly.com/library/view/head-first-c/9781491976692/" target="blank">website</a>, introduction to C#)
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(20))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[20].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(20))">
                            Notable "Done"s
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[20].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[20].IsCollapsedContent">
                            <h3 class="section-content-title"><b>My Notable "Done"s</b></h3>
                            <ul>
                                <li>Top-performing collegiate cross-country runner at TNU (NCAA DII)</li>
                                <li>Designed app + store catering production system/solution for Chick-fil-A; optimized for time and resource utilization</li>
                                <li>Balanced full-time school, full-time work, married life, and developing software engineering skills for a year</li>
                                <li>Ran 2,000 miles in 2019 (5.48 mi./da. avg., 37.38 mi./wk. avg.); ran 70 miles/week for 2 months; completed a 32.2-mile (50 km) ultra marathon</li>
                            </ul>
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(21))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[21].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(21))">
                            Inspirations
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[21].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[21].IsCollapsedContent">
                            <h3 class="section-content-title"><b>Inspirations</b></h3>
                            <div class="text-center">
                                <p>Craig Brenner (father)</p>
                                <p>Tom Brady</p>
                                <p>Michael Phelps</p>
                                <p>Jesus of Nazareth</p>
                                <p>Pastor David Shaw</p>
                                <p>Jordan Peterson</p>
                                <p>Elon Musk</p>
                                <p>Peter Thiel</p>
                            </div>
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(22))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[22].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(22))">
                            Objectives
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[22].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[22].IsCollapsedContent">
                        <h3 class="section-content-title"><b>Objectives</b></h3>
                            <p>My goal is to build things that help people and help people build things. I am proud to have found such a constructive trajectory as an option for my life. It excites me to work with so much potential if only a chosen idea is to be given the opportunity to succeed (the key requirement of all potentialities). </p>
                            <p>I am excited for what the future holds as we walk forward into it. Optimism is my possession, and with what the future has to offer, I personally believe it is the only way to meet the future, again and again.</p>
                            <p>Please visit the <i>Invent</i> section above for details on my ideas for the future.</p> 
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(23))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[23].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(23))">
                            Contact
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[23].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[23].IsCollapsedContent">
                            <Contact />
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(24))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[24].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(24))">
                            Feedback
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[24].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[24].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionIsVisible(25))
                {
                    <div class="section-container">
                        <div class="section-header @SectionMgmt.Instance.Sections[25].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(25))">
                            Background
                            &nbsp;
                            @if(SectionMgmt.Instance.Sections[25].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @SectionMgmt.Instance.Sections[25].IsCollapsedContent">
                        <h3 class="section-content-title"><b>Personal Background</b></h3>
                            <p>This brief background is concerned with the most notable aspects that I believe have formed me into the person I am today. Without being too exhaustive, here is a brief look:</p>
                            <ul>
                                <li>I grew up in the state of Massachusetts just north of Cape Cod (which can be considered the vacation land of southern Mass). It is about an hour south of Boston.</li>
                                <li>Both of my parents were the youngest of their siblings. With me being their eldest child, I did not have any advantage of sympathies regarding having to face all life challeges first out of all my siblings. My parents both grew up in New York and are highschool sweethearts.</li>
                                <li>I grew up in a non-denominational private Christian school. The decision to put me in a Christian school comes from a long history of Nazarene theological affiliations on my mom’s side of the family. If you don’t know, Nazarenes are Christians with a particular emphasis on living lives characterized by God’s holiness via a certain doctrinal tradition.</li>
                                <li>I started making sense of different Christian doctrines when I was in college, though my faith first took on substance when I was 13 with through an NYI ministry called Nazarene Youth Bible Quizzing.</li>
                                <li>I was sheltered as a kid and utilized reason quite a bit, innately wanting to understand how and why everything worked the way it did. I was and still am creative and innovative (iteratively deconstructive & reconstructive) in nature.</li>
                                <li>I was taught as a kid that strangers were dangerous, and at the time I took that to mean all people who were strange (except for my family) are dangerous. Since most people are strange, each person's strangeness and the need to fear them became a focal point for me as a kid. I still struggle with relational longevity (you could call it "interpersonal maintenance") today, but by no measure do I consider myself to be a victim of it.</li>
                                <li>I was good at academics growing up but was not a top performer. For more on my key life experiences involving my grades in school, please view <a href="#">this article (link).</a></li>
                                <li>While I was first introduced to computers when I was 7, I first took interest in business at 13 when I was brought to my dad’s work to migrate server racks from their smaller office to their new larger office building. My father managed an IT infrastructure and security team at Kiva Systems. Kiva designed and built robots that would pick up and move shelves around a warehouse for the fulfillment of online purchases. The technology eliminated having to pay people to walk around a warehouse to find each item that needed to be shipped for an online order. It significantly increased the efficiency of fulfillment proesses due to being able to scale up number of bots on the factory floor and he ability to optimize for shortest distance travelled for every bot on the warehouse floor. My father was employed at Kiva when it was acquired by Amazon in 2012 and although he was among the top performers at the company, Amazon company policy dictated that he be let go after the transition of systems was near complete.</li>
                                <li>I found that I was not prepared to make life trajectory decisions when I was attending college. I changed my major 4 times, and after going from Commercial Music to IT at Trevecca, to then joining and leaving the Belmont School of Nursing for a year and a half, I went back to Trevecca to graduate with an undergraduate in Computer Information Technology. Through my college years I have come to learn that I like to help people and I like to build things. <br/><br/>I want to help people build things that help people.</li>
                            </ul>
                        </div>
                    </div>
                }
                @if (SectionMgmt.Instance.SectionedPages[2].ASectionIsCurrentlyPromo)
                {
                    @if (!SectionMgmt.Instance.Sections[17].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[17].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(17))">
                                Introduction
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[18].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[18].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(18))">
                                Employment History
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[19].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[19].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(19))">
                                Education History
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[20].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[20].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(20))">
                                Notable "Done"s
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[21].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[21].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(21))">
                                Inspirations
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[22].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[22].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(22))">
                                Objectives
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[23].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[23].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(23))">
                                Contact
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[24].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[24].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(24))">
                                Feedback
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!SectionMgmt.Instance.Sections[25].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @SectionMgmt.Instance.Sections[25].IsCollapsedHeader" @onclick="(()=>SectionMgmt.Instance.ToggleCollapseSingle(25))">
                                Background
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                }
                <SectionedPageSectionsToggle PageId="2"/>
            </div>
        </div>
    </PageContent>
</DrawerPageTemplate>

@code {
    private List<string> SelectedWorkHistoryContent = new List<string>() { "btn-primary", "btn-secondary", "btn-secondary" };

    protected override void OnInitialized()
    {
        // For setting the NavButton highlights to what they need to be upon first 
        // load in absence of setting SectionId parameter
        if (SectionId != 0)
            NavMgmt.Instance.NavigateToSection(SectionId);
        else
            NavMgmt.Instance.NavigateToSection(17);

        // For dynamic reload of component when state has changed in the following singletons
        NavMgmt.Instance.OnNavMgmtUpdated += UpdateThisComponent;
        SectionMgmt.Instance.OnSectionMgmtChanged += UpdateThisComponent;
    }
    void IDisposable.Dispose()
    {
        NavMgmt.Instance.OnNavMgmtUpdated -= UpdateThisComponent;
        SectionMgmt.Instance.OnSectionMgmtChanged -= UpdateThisComponent;
    }
    private void UpdateThisComponent(string meaninglessRequirement) =>
        StateHasChanged();

    [Parameter]
    public int SectionId { get; set; }

    private void UpdateWorkHistorySectionContent(int selection)
    {
        for (int i = 0; i < SelectedWorkHistoryContent.Count(); i++)
            SelectedWorkHistoryContent[i] = "btn-secondary";
        SelectedWorkHistoryContent[selection] = "btn-primary";
    }    
}
