@using ProfessionalWebsite.Client.Classes.Mgmt;
@implements IDisposable

@page "/invent"
@page "/invent/{SectionId:int}"

<PageTitle>Invent - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-warehouse" HeaderText="Invent">
    <DrawerContent>
        <DrawerNavLinkButton Href="invent/26" ButtonText="Overview" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,26))" />
        <DrawerNavLinkButton Href="invent/27" ButtonText="Future Vision App" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,27))" />
        <DrawerNavLinkButton Href="invent/28" ButtonText="Unified Church App" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,28))" />
        <DrawerNavLinkButton Href="invent/29" ButtonText="Hang Out Availability App" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,29))" />
        <DrawerNavLinkButton Href="invent/30" ButtonText="Philosophy Orientation App" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,30))" />
        <DrawerNavLinkButton Href="invent/31" ButtonText="Controller Keyboard Prototype" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,31))" />
        <DrawerNavLinkButton Href="invent/32" ButtonText="Audio Games" OnClickCallback="(()=>NavMgmt.Instance.NavigateToSection(3,32))" />
        <DrawerNavLinkButton Href="collyn/23" IconClasses="fa-solid fa-envelope" ButtonText="Contact" />
    </DrawerContent>
    <PageContent>
        <div class="sub-page-container">
            <div class="sections-container">
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[0].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[0].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(26))">
                            Overview
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[0].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[0].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[1].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[1].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(27))">
                            Future Vision App
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[1].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[1].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[2].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[2].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(28))">
                            Unified Church App
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[2].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[2].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[3].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[3].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(29))">
                            Hang Out Availability App
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[3].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[3].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[4].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[4].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(30))">
                            Philosophy Orientation App
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[4].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[4].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[5].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[5].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(31))">
                            Controller Keyboard Prototype
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[5].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[5].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo
                || NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo && NavMgmt.Instance.SectionedPages[3].Sections[6].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[6].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(32))">
                            Audio Games
                            &nbsp;
                            @if(NavMgmt.Instance.SectionedPages[3].Sections[6].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @NavMgmt.Instance.SectionedPages[3].Sections[6].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (NavMgmt.Instance.SectionedPages[3].ASectionIsCurrentlyPromo)
                {
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[0].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[0].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(26))">
                                Overview
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[1].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[1].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(27))">
                                Future Vision App
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[2].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[2].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(28))">
                                Unified Church App
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[3].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[3].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(29))">
                                Hang Out Availability App
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[4].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[4].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(30))">
                                Philosophy Orientation App
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[5].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[5].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(31))">
                                Controller Keyboard Prototype
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!NavMgmt.Instance.SectionedPages[3].Sections[6].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @NavMgmt.Instance.SectionedPages[3].Sections[6].IsCollapsedHeader" @onclick="(()=>NavMgmt.Instance.SectionedPages[3].ToggleCollapseSingle(32))">
                                Audio Games
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                }
                <div class="toggle-all-sections-container">
                    <div class="toggle-all-sections" @onclick="NavMgmt.Instance.SectionedPages[3].ToggleAllSections">
                        @if (NavMgmt.Instance.SectionedPages[3].SectionsStatus == SectionsStatus.AllAreOpen)
                        {
                            <span class="fa-solid fa-down-left-and-up-right-to-center"></span>
                        }
                        else
                        {
                            <span class="fa-solid fa-up-right-and-down-left-from-center"></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </PageContent>
</DrawerPageTemplate>

@code {
    protected override void OnInitialized()
    {
        NavMgmt.Instance.NavigateToSection(3, SectionId);   
        NavMgmt.Instance.OnNavMgmtUpdated += UpdateThisComponent;
    }
    void IDisposable.Dispose() =>
        NavMgmt.Instance.OnNavMgmtUpdated -= UpdateThisComponent;
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();

    [Parameter]
    public int SectionId { get; set; } = 0;
}
