@page "/invent"

@inject NavService NavService

<PageTitle>Invent - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-warehouse" HeaderText="Invent">
    <DrawerContent>
        <DrawerNavLinkButton Href="invent#overview" ButtonText="Overview" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(0))" />
        <DrawerNavLinkButton Href="invent#futurevision" ButtonText="Future Vision App" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(1))" />
        <DrawerNavLinkButton Href="invent#unifiedchurch" ButtonText="Unified Church App" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(2))" />
        <DrawerNavLinkButton Href="invent#hangoutavailability" ButtonText="Hang Out Availability App" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(3))" />
        <DrawerNavLinkButton Href="invent#philosophyorientation" ButtonText="Philosophy Orientation App" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(4))" />
        <DrawerNavLinkButton Href="invent#controllerkeyboardprototype" ButtonText="Controller Keyboard Prototype" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(5))" />
        <DrawerNavLinkButton Href="invent#audiogames" ButtonText="Audio Games" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(6))" />
        <DrawerNavLinkButton Href="collyn#contact" IconClasses="fa-solid fa-envelope" ButtonText="Contact" OnClickCallback='(()=>NavService.NavigateToCollapsibleSectionOfOtherPage(2, "Contact"))' />
    </DrawerContent>
    <PageContent>
        <div class="sub-page-container">
            <div class="sections-container">
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[0].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[0].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(0))">
                            Overview
                        </div>
                        <div class="section-content @sectionsLogic.Sections[0].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[1].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[1].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(1))">
                            Future Vision App
                        </div>
                        <div class="section-content @sectionsLogic.Sections[1].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[2].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[2].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(2))">
                            Unified Church App
                        </div>
                        <div class="section-content @sectionsLogic.Sections[2].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[3].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[3].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(3))">
                            Hang Out Availability App
                        </div>
                        <div class="section-content @sectionsLogic.Sections[3].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[4].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[4].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(4))">
                            Philosophy Orientation App
                        </div>
                        <div class="section-content @sectionsLogic.Sections[4].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[5].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[5].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(5))">
                            Controller Keyboard Prototype
                        </div>
                        <div class="section-content @sectionsLogic.Sections[5].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[6].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[6].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(6))">
                            Audio Games
                        </div>
                        <div class="section-content @sectionsLogic.Sections[6].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (sectionsLogic.ASectionIsCurrentlyPromo)
                {
                    @if (!sectionsLogic.Sections[0].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[0].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(0))">
                                Overview
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[1].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[1].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(1))">
                                Future Vision App
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[2].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[2].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(2))">
                                Unified Church App
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[3].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[3].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(3))">
                                Hang Out Availability App
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[4].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[4].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(4))">
                                Philosophy Orientation App
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[5].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[5].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(5))">
                                Controller Keyboard Prototype
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[6].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[6].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(6))">
                                Audio Games
                            </div>
                        </div>
                    }
                }
                <div class="toggle-all-sections-container">
                    <div class="toggle-all-sections" @onclick="sectionsLogic.ToggleAllSections">
                        @if (sectionsLogic.SectionsStatus == SectionsStatus.AllAreOpen)
                        {
                            <span class="fa-solid fa-minimize"></span>
                        }
                        else
                        {
                            <span class="fa-solid fa-maximize"></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </PageContent>
</DrawerPageTemplate>

@code { 
    private CollapsingPageSectionsLogic sectionsLogic = new CollapsingPageSectionsLogic(new List<CollapsingPageSection>()
    {
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
    });
}
