@page "/knowhow"

<PageTitle>Know-How - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-vial" HeaderText="Know-How">
    <DrawerContent>
        <DrawerNavLinkButton Href="knowhow#overview" ButtonText="Overview" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(0))" />
        <DrawerNavLinkButton Href="knowhow#approach" ButtonText="Approach" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(1))" />
        <DrawerNavLinkButton Href="knowhow#csharp" ButtonText="C#" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(2))" />
        <DrawerNavLinkButton Href="knowhow#javascript" ButtonText="JS" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(3))" />
        <DrawerNavLinkButton Href="knowhow#python" ButtonText="Python" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(4))" />
        <DrawerNavLinkButton Href="knowhow#php" ButtonText="PHP" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(5))" />
        <DrawerNavLinkButton Href="knowhow#styling" ButtonText="Styling" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(6))" />
        <DrawerNavLinkButton Href="knowhow#certifications" ButtonText="Certifications" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(7))" />
        <DrawerNavLinkButton Href="projects" IconClasses="fa-solid fa-diagram-project" ButtonText="Projects" />
        <DrawerNavLinkButton Href="collyn#contact" IconClasses="fa-solid fa-envelope" ButtonText="Contact" />
    </DrawerContent>
    <PageContent>
        <PageContainer>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[0].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(0))">
                    Overview
                </div>
                <div class="section-content @sectionsLogic.Sections[0].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[1].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(1))">
                    Approach
                </div>
                <div class="section-content @sectionsLogic.Sections[1].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[2].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(2))">
                    C#
                </div>
                <div class="section-content @sectionsLogic.Sections[2].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[3].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(3))">
                    JavaScript
                </div>
                <div class="section-content @sectionsLogic.Sections[3].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[4].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(4))">
                    Python
                </div>
                <div class="section-content @sectionsLogic.Sections[4].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[5].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(5))">
                    PHP
                </div>
                <div class="section-content @sectionsLogic.Sections[5].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[6].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(6))">
                    Styling
                </div>
                <div class="section-content @sectionsLogic.Sections[6].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="section-container">
                <div class="section-header @sectionsLogic.Sections[7].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(7))">
                    Certifications
                </div>
                <div class="section-content @sectionsLogic.Sections[7].IsCollapsedContent">
                    @for (int i = 0; i < 30; i++)
                    {
                        <div>This is the content.</div>
                    }
                </div>
            </div>
            <div class="toggle-all-sections-container">
                <div class="toggle-all-sections" @onclick="sectionsLogic.ToggleAllSections">
                    @if (!sectionsLogic.AllSectionsAreCollapsed)
                    {
                        <span class="fa-solid fa-minimize"></span>
                    }
                    else
                    {
                        <span class="fa-solid fa-maximize"></span>
                    }
                </div>
            </div>
        </PageContainer>
    </PageContent>
</DrawerPageTemplate>

@code { 
    private CollapsingPageSectionsLogic sectionsLogic = new CollapsingPageSectionsLogic(new List<CollapsingPageSection>()
    {
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
    });
}
