@page "/knowhow"

@inject NavService NavService

<PageTitle>Know-How - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-vial" HeaderText="Know-How">
    <DrawerContent>
        <DrawerNavLinkButton Href="knowhow#overview" ButtonText="Overview" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(0))" />
        <DrawerNavLinkButton Href="knowhow#approach" ButtonText="Approach" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(1))" />
        <DrawerNavLinkButton Href="knowhow#csharp" ButtonText="C#" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(2))" />
        <DrawerNavLinkButton Href="knowhow#javascript" ButtonText="JS" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(3))" />
        <DrawerNavLinkButton Href="knowhow#python" ButtonText="Python" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(4))" />
        <DrawerNavLinkButton Href="knowhow#php" ButtonText="PHP" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(5))" />
        <DrawerNavLinkButton Href="knowhow#styling" ButtonText="Styling" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(6))" />
        <DrawerNavLinkButton Href="knowhow#certifications" ButtonText="Certifications" OnClickCallback="(()=>sectionsLogic.CollapseAllShowOne(7))" />
        <DrawerNavLinkButton Href="projects" IconClasses="fa-solid fa-diagram-project" ButtonText="Projects" />
        <DrawerNavLinkButton Href="collyn#contact" IconClasses="fa-solid fa-envelope" ButtonText="Contact" OnClickCallback='(()=>NavService.NavigateToCollapsibleSectionOfOtherPage(2, "Contact"))' />
    </DrawerContent>
    <PageContent>
        <div class="sub-page-container">
            <div class="sections-container">
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[0].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[0].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(0))">
                            Overview
                        </div>
                        <div class="section-content @sectionsLogic.Sections[0].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[1].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[1].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(1))">
                            Languages
                        </div>
                        <div class="section-content @sectionsLogic.Sections[1].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[2].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[2].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(2))">
                            Stacks
                        </div>
                        <div class="section-content @sectionsLogic.Sections[2].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[3].IsCurrentPromo)
                {
                    <div class="section-container">
                    <div class="section-header @sectionsLogic.Sections[3].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(3))">
                            Web Front-End
                    </div>
                    <div class="section-content @sectionsLogic.Sections[3].IsCollapsedContent">
                        <UnderConstruction />
                    </div>
                </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[4].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[4].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(4))">
                            UX/UI - User Experience & User Interface plus Modeling Software
                        </div>
                        <div class="section-content @sectionsLogic.Sections[4].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[5].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[5].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(5))">
                            Cloud Deployment Solutions, Agile Project Management Software, + Containers
                        </div>
                        <div class="section-content @sectionsLogic.Sections[5].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[6].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[6].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(6))">
                            Databases
                        </div>
                        <div class="section-content @sectionsLogic.Sections[6].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[7].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[7].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(7))">
                            Testing
                        </div>
                        <div class="section-content @sectionsLogic.Sections[7].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[8].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[8].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(8))">
                            CLI
                        </div>
                        <div class="section-content @sectionsLogic.Sections[8].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[9].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[9].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(9))">
                            Programming Paradigms & Methodologies
                        </div>
                        <div class="section-content @sectionsLogic.Sections[9].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[10].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[10].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(10))">
                            Repositories
                        </div>
                        <div class="section-content @sectionsLogic.Sections[10].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[11].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[11].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(11))">
                            Game Development
                        </div>
                        <div class="section-content @sectionsLogic.Sections[11].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[12].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[12].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(12))">
                            Operating Systems
                        </div>
                        <div class="section-content @sectionsLogic.Sections[12].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!sectionsLogic.ASectionIsCurrentlyPromo
                || sectionsLogic.ASectionIsCurrentlyPromo && sectionsLogic.Sections[13].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @sectionsLogic.Sections[13].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(13))">
                            Why Programming?
                        </div>
                        <div class="section-content @sectionsLogic.Sections[13].IsCollapsedContent">
                            <p>Creating high-capability, highly-accessible technology. Devices that are most used are mobile devices because of high accessibility on-the-go, so I really think the future is in innovating mobile apps to have more space in the UI while maintaining excellent UX</p>
                            <p>Blazor + .NET 8’s customizable hybrid approach to web software infrastructure (having to do with performance)</p>
                            <p>Introduction of gaming UX/UI venturing  gaming as a competitive web UI-building tool (WebGL + Unity, could be enhanced by WASM/Emscripten)</p>
                            <p>You get to use logic in ways that enhance the livelihood of people. It has a curious way of creating more opportunities for flourishing in multiple exponential ways. The efficiency of reducing required workload when utilizing software technologies is something I find wonderful. It offers the opportunity to sculpt a repeatable user experience, which allows for the heavy lifting to be done once and based on reliable scientific discoveries for optimizing a user’s return on time invested while using the technology.</p>
                        </div>
                    </div>
                }
                @if (sectionsLogic.ASectionIsCurrentlyPromo)
                {
                    @if (!sectionsLogic.Sections[0].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[0].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(0))">
                                Overview
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[1].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[1].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(1))">
                                Approach
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[2].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[2].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(2))">
                                C#
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[3].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[3].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(3))">
                                JS
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[4].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[4].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(4))">
                                Python
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[5].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[5].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(5))">
                                PHP
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[6].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[6].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(6))">
                                Styling
                            </div>
                        </div>
                    }
                    @if (!sectionsLogic.Sections[7].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @sectionsLogic.Sections[7].IsCollapsedHeader" @onclick="(()=>sectionsLogic.ToggleCollapseSingle(7))">
                                Certifications
                            </div>
                        </div>
                    }
                }
                <div class="toggle-all-sections-container">
                    <div class="toggle-all-sections" @onclick="sectionsLogic.ToggleAllSections">
                        @if (sectionsLogic.SectionsStatus == SectionsStatus.AllAreOpen)
                        {
                            <span class="fa-solid fa-down-left-and-up-right-to-center"></span>
                        }
                        else
                        {
                            <span class="fa-solid fa-up-right-and-down-left-from-center"></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </PageContent>
</DrawerPageTemplate>

@code { 
    private CollapsingPageSectionsLogic sectionsLogic = new CollapsingPageSectionsLogic(new List<CollapsingPageSection>()
    {
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
        new CollapsingPageSection(),
    });
}
