@using ProfessionalWebsite.Client.Classes.NavMgmt;

@page "/knowhow"

@implements IDisposable

<PageTitle>Know-How - Collyn Brenner</PageTitle>

<DrawerPageTemplate HeaderIconClasses="fa-solid fa-vial" HeaderText="Know-How">
    <DrawerContent>
        <DrawerNavLinkButton Href="knowhow#overview" ButtonText="Overview" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(0))" />
        <DrawerNavLinkButton Href="knowhow#approach" ButtonText="Approach" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(1))" />
        <DrawerNavLinkButton Href="knowhow#csharp" ButtonText="C#" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(2))" />
        <DrawerNavLinkButton Href="knowhow#javascript" ButtonText="JS" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(3))" />
        <DrawerNavLinkButton Href="knowhow#python" ButtonText="Python" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(4))" />
        <DrawerNavLinkButton Href="knowhow#php" ButtonText="PHP" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(5))" />
        <DrawerNavLinkButton Href="knowhow#styling" ButtonText="Styling" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(6))" />
        <DrawerNavLinkButton Href="knowhow#certifications" ButtonText="Certifications" OnClickCallback="(()=>navMgmt.SectionedPages[1].CollapseAllShowOne(7))" />
        <DrawerNavLinkButton Href="projects" IconClasses="fa-solid fa-diagram-project" ButtonText="Projects" />
        <DrawerNavLinkButton Href="collyn#contact" IconClasses="fa-solid fa-envelope" ButtonText="Contact" OnClickCallback="(()=>navMgmt.NavigateToCollapsibleSectionOfOtherPage(2, 6))" />
    </DrawerContent>
    <PageContent>
        <div class="sub-page-container">
            <div class="sections-container">
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[0].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[0].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(0))">
                            Overview
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[0].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[0].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[1].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[1].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(1))">
                            Languages
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[1].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[1].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[2].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[2].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(2))">
                            Stacks
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[2].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[2].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[3].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[3].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(3))">
                            Web Front-End
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[3].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[3].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[4].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[4].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(4))">
                            UX/UI + Modeling Software
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[4].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[4].IsCollapsedContent">
                            <br/>
                            <h3 class="text-center">UX/UI + Modeling Software</h3>
                            <p style="color: red; text-align: center;">SECTION NOT FINISHED - NEEDS TNU CLASS CONTENT, EXPERIENCE, AND MODELING SOFTWARE</p>
                            <br/>
                            <h4>User Experience is Most Important Other than Being Functional</h4>
                            <br/>
                            <p>I believe the best user experiences incorporate intuitive interfaces that are easy to navigate, present the most relevant information to the user wherever possible, and which take care to minimize needless additional actions. Attractiveness and dynamic features can add to the experience. All of these are ways that a programmer can communicate thoughtfulness to the user. Thoughtfulness is a lot like kindness embedded in design decisions that many users are able to appreciate. A user is able to appreciate your product if they can see clear indications that enhancements to enjoyable aspects were added and barriers to enjoyment were removed. These statements are especially true if the product incorporates elegance and offers a pleasant experience.</p>
                            <p>Steve Jobs and Apple did this very well with the iPhone, particularly with their advertisements of the product featuring Jony Ive, the iPhone’s Chief Design Officer. Jony Ive always stressed the <em>elegance</em> and the <em>simplicity</em> of the iPhone’s design. There is no argument that users enjoy something that perceptually is really nice and very simple, even if it isn’t simple when considering all of its functions. Einstein once said, “I have deep faith that the principle of the universe will be beautiful and simple”. The above simplification of the user’s experience involves reducing the required psychological work and physical work on the part of the user. Physical work includes but is not limited to the number of interactions a user has to make in order to perform certain functions. Psychological work includes but is not limited to interactions that may not be hard to do necessarily but which either require a lot of cognitive effort or which require the user to think in a way that causes negative feelings to arise, whether stress or agitation, or increased requirement to focus with no apparent reward, etc.</p>
                            <p>In MDA game design methodology (Mechanics, Dynamics, and Aesthetics), this means that the design (mechanics) is affecting the user's feelings (aesthetics) because the mechanics of the game force the user into performing certain actions or sequences of actions (dynamics). MDA is more than boiling down to design, actions and feelings, but this is one way to use MDA to analyze game design. It is the developer’s problem of if/when their users do not like using what the developer built. To build something that makes money for the makers, the business side of product development has to be considered. Engineers and business managers ultimately share the same goals: To promote an excellent user experience with their product.</p>
                            <p>With a lackluster user experience comes decreased sales of the product, or in subscription models, the loss of a customer/client. Video game production companies are astutely aware of this, but app designers and website builders may not consider this interplay of interface elements to be of much concern. A well-rounded experience requires extra work and multiple iterations to achieve, but the payoff is in user experience, which can translate to word-of-mouth advertising if your users like what you made. It could be because it is really nice, or easy to use, or it might be something they may find useful for their purposes.</p>
                            <p>The most effective way to go about creating the best experience for your users is by building a prototype and hearing from and observing your users first-hand. Engaging with your (potential) customers helps you get to know what they are like, how they think, what their tendencies are, what they like and don’t like, why they like your product - all incredibly valuable insights into the product development (iteration) process.</p>
                            <p>Yet, software developers don’t always see customer engagement as necessary. They often don't care all that much about the customer. They would rather not go through the discomfort of having their ideas ripped apart by first-person commentary on the product - yet that is a person’s real opinions about your product. That which is real is what needs to be dealt with to gain real success with the real thing that is being made.</p>
                            <p>I love gathering insight, I love building things, and I love helping people. If what I'm building doesn’t help people, I want to gain more insight as to why. This insight is needed to build better things that help people more (or helps more people). If the thing I am building is used by others to build better things, then it would be wise for me to acquire information about the end result of my customer’s product; in this case, my product’s success is not just about building my product’s intended end. It is an outcome-focused orientation, one intrinsically characterized by long-term, interdependence thinking. Technology is utilitarian in its nature, meaning it is utilized as the means to some ends. If the technology does not achieve its intended end, then it is valueless as a means to that end. There aren’t many people willing to trade something of value for something of less value. Something of no value is not worth considering.</p>
                            <br/>
                            <h4>Mentality is Key - The Developer May Lack Consideration for what they stand to Gain</h4>
                            <br/>
                            <p>If the developer does not want to talk to the customer/client, perhaps they are not considering what they would gain from doing so. User insights are like development solutions: you learn each insight once and then it sticks with you through the reinforcement of common sense. The developer gets the added benefit of seeing from the user’s perspective. Insights improve accuracy of decisions made in the product’s development. In software development, you have to make a lot of decisions, and decisions about design rank very high if not at the top of the list of important decisions.</p>
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[5].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[5].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(5))">
                            Cloud Deployment + Containers
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[5].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[5].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[6].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[6].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(6))">
                            Databases
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[6].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[6].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[7].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[7].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(7))">
                            Testing
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[7].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[7].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[8].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[8].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(8))">
                            CLI
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[8].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[8].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[9].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[9].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(9))">
                            Programming Paradigms & Methodologies
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[9].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[9].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[10].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[10].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(10))">
                            Repositories
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[10].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[10].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[11].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[11].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(11))">
                            Game Development
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[11].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[11].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[12].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[12].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(12))">
                            Operating Systems
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[12].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[12].IsCollapsedContent">
                            <UnderConstruction />
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[13].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[13].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(13))">
                            Why Programming?
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[13].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[13].IsCollapsedContent">
                            <p>Creating high-capability, highly-accessible technology. Devices that are most used are mobile devices because of high accessibility on-the-go, so I really think the future is in innovating mobile apps to have more space in the UI while maintaining excellent UX</p>
                            <p>Blazor + .NET 8’s customizable hybrid approach to web software infrastructure (having to do with performance)</p>
                            <p>Introduction of gaming UX/UI venturing  gaming as a competitive web UI-building tool (WebGL + Unity, could be enhanced by WASM/Emscripten)</p>
                            <p>You get to use logic in ways that enhance the livelihood of people. It has a curious way of creating more opportunities for flourishing in multiple exponential ways. The efficiency of reducing required workload when utilizing software technologies is something I find wonderful. It offers the opportunity to sculpt a repeatable user experience, which allows for the heavy lifting to be done once and based on reliable scientific discoveries for optimizing a user’s return on time invested while using the technology.</p>
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[14].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[14].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(14))">
                            About This Web App
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[14].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[14].IsCollapsedContent">
                            <h3 style="text-align: center;">Conception</h3>
                            <br/>
                            <p>I started construction of this developer portfolio PWA (progressive web app) by first attempting to create a Blazor WASM open-source template that I planned to branch off from to create my own promotional developer portfolio. When I started this project I had never made anything open-source before. I saw making a boilerplate template for the Blazor framework as a potential networking opportunity. You can view the open-source template here: <a href="https://github.com/CCBrenner/MobileNavBlazorWasmTemplate" target="blank">Blazor WASM template</a>.</p>
                            <p>The open-source template was to employ responsive web design (RWD)  across the three major screen sizes. I wanted to build  navigation that translated across the three devices seamlessly but with the capability to navigate the user from anywhere in the web app to anywhere else, even if the web app built was a large one. This reverted me back to the old days where mobile navigation didn’t take you to another page with the first interaction, but instead offered a menu of where you wanted to go, requiring a minimum of 2 interactions minimum (and I wanted to make sure I tried my best to keep interaction count as close to 2 as possible, no more). I wanted it to have the best UI features that a navigation can have (since navigation is used everywhere in an app, it deserves to have some attention paid to its improvement). I wanted to maintain the kind of design philosophy (or “air”) that Blazor introduced with its starting template’s iconic collapsible sidebar navigation for desktop (which cannily resembles the sidebar of File Explorer on Windows), offering the ability to navigate within the page or to another page when clicked.</p>
                            <p>I also wanted to do something ambitious. I wanted to raise my web app within the DOM and be able to move the web app‘s housing container in multiple different ways while maintaining full responsiveness of the app within the container. The original idea was to use it as a way to market the installation of the PWA on mobile by displaying a fully-functional mobile aspect ratio PWA for desktop and tablet browsers, allowing the user to interact with the app in the browser while also being given the option to learn more about the app in the negative space of the viewport and to navigate straight to the app’s installation page by scanning a QR code (also located in the negative space) with a mobile device. This idea ended up turning into something else with the introduction of the tablet and desktop RWD breakpoints and UI. The mobile marketing functionality could not be maintained by resizing the housing container because the mobile breakpoints are controlled by CSS media queries, and these are dependent on the viewport size of the browser, particularly the width. Today I am unaware of a way to measure the width of a specific HTML element AND use it in a media query, which would solve this RWD problem. I opted to leave “options” in the template repository for the programmer to work towards the PWA promo site as well as branch the repo at the point of which I was finished with the PWA promo build before starting on the tablet and desktop UI renderings (for cases where the programmer is not interested in building to tablet or desktop and wants to build only for mobile PWA while also having the benefits of promo in the web browser).
                            </p>
                            <br/>
                            <h3 style="text-align: center;">Tools Used</h3>
                            <br/>
                            <h4>Programming Language: C#</h4>
                            <br/>
                            <h4>Blazor WASM (front-end)</h4>
                            <p>Blazor Web Assembly (WASM) is an unbiased, Single-Page App (SPA) front-end framework that allows for the writing of front-end code in C# which compiles to Web Assembly language at compile time. It allows for object-oriented programming (OOP) on the front-end without using JavaScript. It is interoperable with JavaScript, meaning you can still utilize JavaScript for functions and features that are not yet possible with C#. With Microsoft’s commitment to becoming a lead cloud service provider, and Blazor (WASM and Server) being their premier front-end framework, it isn’t hard to imagine that Microsoft is working very hard to invest into the innovation of Blazor and its counterpart, ASP.NET, technology. There are a number of things that are done differently in Blazor WASM than in other frameworks due to it using components, OOP, and not using JavaScript.</p>
                            <br/>
                            <h4>ASP.NET (back-end)</h4>
                            <p>ASP.NET is the go-to back-end framework for using Blazor WASM. ASP.NET allows for customization of data delivery at many different levels. In combination with Entity Framework Core as its object relational mapper (ORM) and Blazor as its front-end, this tech stack combination allows for data objects to be completely managed as C# objects, from database to user interface. ASP.NET has made large strides over the last few years, including the introduction of .NET Core which expands the number of platforms that can be targeted to include Linux OS and MacOS systems (with introduction of .NET Core). ASP.NET utilizes the MVC architecture pattern.</p>
                            <br/>
                            <h4>Unit Tests</h4>
                            <p>Blazor WASM allows for testing OOP code via unit tests in the same way as any other C# code in your projects. For this project, I used MSTest for my unit tests. Test Driven Design (TDD) was used for cases where complex logic is used. Components were left untested due to their simplicity and due to there being many components. If complexity requires a component to be tested then it will have unit tests added for it.</p>
                            <br/>
                            <h4>Authentication & Authorization - Auth0</h4>
                            <p>Auth0 is used in this application to demonstrate my ability to incorporate an authentication and authorization mechanism in the Blazor WASM / ASP.NET stack. It allows users to use some functions of the website that operate on and change the data on the backend, particularly in the database.</p>
                            <br/>
                            <h4>Azure Cloud PaaS (Web App) & Docker Containers</h4>
                            <p>In web development as a single-developer, a cloud platform as a service (PaaS) is going to be your best friend. For this project I researched multiple solutions, including Heroku, Linode, AWS, and Azure and boiled my options down to AWS Beanstalk (PaaS) and Azure App Service (PaaS). I chose Azure App Service due to the potential benefits of operating & learning within the same ecosystem (Microsoft) and the unknown benefits that it would bring, even if it costs more than other options. It would also allow me to spend less time worrying about server configuration. Both AWS Beanstalk and Azure Web App were chosen because they were PaaS and had capabilities to expand to IaaS (Infrastructure as a Service) capabilities on-demand. This was considered in anticipation of future projects I work on. It reaps long-term benefits to start well and start strong.</p>
                            <p>This web app is configured to update whenever updates are made to the web app’s DockerHub repository. This means that Docker files, images, and containers, along with a DockerHub repository, are being used to package, run, and update this web app with a good amount of automation with the ease of a “docker push” CLI command. In a nutshell, Docker containers are created from Docker images, which are created from Docker files. A project’s DockerFile contains commands for building an operating system environment, each command being its own “layer”. Docker layers decrease image build time by skipping layers that have not changed and begin building new layers at the first appearance of an updated layer when compared to a previous build of the image. Docker containers are a great tool for achieving app development and performance consistency across operating systems that are installed and run directly on hardware. Not only this, but it is a good step to have prepared if you want to move your web services to utilize more performance capabilities such as with Kubernetes (automated VM scaling based on resource demand). Docker containers are also fundamental and a great foundation when operating DevOps CI/CD pipelines.</p>
                            <br/>
                            <h3 style="text-align: center;">Noteworthy Aspects</h3>
                            <br/>
                            <h4>Navigation Bar (and the navMgmt singleton)</h4>
                            <p>The navigation bar takes one interaction to make a navigation panel fade into visibility, and one more for top-level navigation. The option to nest navigation options in an accordion menu is also built to be added to any navigation panel, so that in cases where a user wants to navigate to an even more specific part of the PWA, then the programmer can make this available to them in a structured manner. CSS transition fade also exists for hiding the navigation panels. There exists also a negative space element that appears that blurs and adds a translucent dark shade to the body/page content. This also exists to allow the user to tap/click a larger/closer  target to exit the navigation - a convenience factor. There was also care taken to the highlighting of the navigation buttons. The blur effect was made to assist the user when focusing on the navigation panel options.</p>
                            <p>A logic was applied so that the navigation would show you where you are at all times (as a good nav should). This includes the location changing when a specific navigation panel is visible temporarily. If the panel is closed, memory of the last location that was kept is then used to revert back automatically to showing the location of the current page. If the user is using a desktop computer, while they are hovering over a button before clicking it will cause the button to be highlighted while maintaining the highlight of the current location. This is done to indicate that the user’s mouse is in the right position to open that specific navigation panel. But once the user clicks that button, the location changes to the navigation panel of the button, making only the clicked button highlighted. All of the above highlight logic is maintained when clicking on a navigation panel button that routes the user to another page as well as when the user taps/clicks the negative space to close the navigation panel. These highlights are also updated when a button with navigation to a different section is tapped/clicked, so that the navigation is updated. All of this is achieved via a navMgmt class that is abstracted above the separations of the Shared components and the Page components in Blazor (which also means that it is above all component boundaries and can be used in all components; this functionality is possible because of what Service classes are originally intended to be used for: for inserting data acquired from the backend API for insertion into specific components via the dependency injection (DI) design pattern that Blazor WASM uses extensively).</p>
                            <br/>
                            <h4>Cross-page navigation to a section (HTML bookmarks substitute)</h4>
                            <p>Engineers often make technical assumptions that they believe are true only to find out later that their assumption doesn’t hold water. This reveals the necessity of programmers to allow room for skepticism about everything they believe they know to be true. More specifically, disproven assumptions appear when something that is believed to be true is true in more than one circumstance, but is not true in every circumstance. This is explained simply by Proverbs 21:11 which in summary shows that the gaining of wisdom (what is deemed “experience”) involves making a person less simple than they were before, or to put it another way, make them more enlightened. A person can be more simple in specific areas than other areas of which they are more wise (have a more complete understanding of the complex nature of something else).</p>
                            <p>I say all of this, because I was made less simple when building this project. I had assumed that I was going to be able to use an HTML navigation technique that involved using the id property of an HTML element to scroll the user to the element with that id via an anchor element that referenced it. I found out much too late that this functionality does not work everywhere bar none. I concluded with about 95% confidence that this is because HTML bookmarks (what the technique is called) only work for moving the entire web page to that location. It does not work within HTML elements that utilize scrolling within themselves (given to them by the CSS property-value “overflow-y: auto”). My requirement of raising my web app in the DOM made HTML bookmarks unusable.</p>
                            <p>I had to find another solution. I wanted to have pages that had multiple sections in them so that when viewing on desktop the user can click the sidebar and go straight to that section. Not being able to use bookmarks, I recognized I still had sections. Instead of moving the whole scrollable page, I found I could move the relevant content to the visible viewport with logic conditionals. Now if you click the sidebar, that section is “promoted” to the top of the page and all others appear collapsed below it in order. This meant that all sections had to be collapsible. I added the ability to collapse from the header of a section by clicking on it as well as a page-scoped control of the sections fully expanded or to be fully collapsed from the same button. Taking another development step forward, I updated the sections logic so that if the user ever had only one section open, it would be promoted to the top of the page just as if it had been clicked on from the sidebar. All of this works across screen sizes, with the exception of the absence of the sidebar for mobile and tablet screen sizes. This portfolio uses three pages with this functionality: “KnowHow”, “Collyn”, and “Invent”. Space was left for the future in which I either turn the other two pages in a sectioned page or if I decide to strip this project down one day and offer it as an open-source template for the benefit of programmers in the Blazor WASM community. The sectioned pages logic exists as its own class but is instantiated in the navMgmt class so as to reap the benefits of being modifiable across navigable pages. Yes, this means that state (properties and fields data) are being kept and used in the navMgmt service class. For keeping state in the navMgmt class to be useful in the context of Blazor as a single instance, this means particularly that the navMgmt class has to be “Singleton” scoped in the Program.cs file and injected as a class instead of as an interface for components that consume it (because an interface does not maintain any state within itself; the primary use case for a service class in Blazor WASM requires only functions (methods) for acquiring data from the backend API; Singleton instantiation as a rule and state in the service class are not required in the effective use of the service class’ primary use case).</p>
                            <br/>
                            <h4>Raised and Animated web app container</h4>
                            <p>Blazor separates layout classes as “Shared” components in their own directory, from the navigable page components of the PWA in the “Pages” directory. Since the Shared components are parents of the Page components (because they are for defining the layout and navigation of the project), the PWA had to be raised in the Shared directory, in the layout component. For certain functional reasons concerning navigation, I wanted to use a layering technique, with layers that are the full size of the housing container for the app. Some elements in these layers are positioned with CSS “position: relative”, to maintain position relative to the element’s parent element whenever the housing container resizes and moves. If there are multiple elements between the final positioned element then this kind of positioning must be done between every parent and child between each other, with correct height and width sizing too. Performing element positioning like this requires you to set the size of the container for child elements before positioning the container, because the container positioning is in part based on how large the container is, either vertically or horizontally. RWD would not be possible without the wonderful CSS width and height percentages which are based on the percentage of the child’s parent component width and height. There are more than 5 sibling elements which are children of the housing container which comprise the layers of the PWA. Additionally, forethought was taken in making sure that since CSS z-indexing is integer-based that enough possibilities for new layers with a new z-index could be added. Each layer is 10 z-index indices apart for this reason.</p>
                            <p>That’s good and all, but what about the animations? Well, the housing container is suspended horizontally and vertically in the center of its parent element using flexbox. (You can’t have a RWD site without flexbox; even Bootstrap uses flexbox.) With flexbox as the foundation to work on, animations are applied to the housing container using CSS animation @@keyframes. @@Keyframes allow you to change the properties of an element once, twice, thrice, more or an infinite number of times. Seamless looping is achieved by making the element’s property values the same at the start and finish of the animation loop. It is set up by percentages so that you can perform exact element state changes with no smoothness or you can ease in and/or out of animation changes. You can also change the beginning and end states of the animation if you want to (as can be seen with “EastIsUp” and “WestIsUp” animations). When you click a certain animation, a class that has an associated animation is applied to the housing container element, instantly starting the property changes being applied to the element. </p>
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[15].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[15].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(15))">
                            Hide & Seek Game - Project
                            &nbsp;
                            @if(navMgmt.SectionedPages[1].Sections[15].IsCollapsedHeader == "collapsed-header")
                            {   <i class="fa fa-chevron-left"/>   }
                            else
                            {   <i class="fa fa-chevron-down"/>   }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[15].IsCollapsedContent">
                            <h3 style="text-align: center;">Hide and Seek Game</h3>
                            <br/>
                            <h4>Introduction</h4>
                            <br/>
                            <p>This project was introduced at the end of Chapter 10 of the Headfirst C#, 4th Edition textbook course by Andrew Stellman and Jennifer Greene (12 chapters total). Chapter 10 covered how to read and write files, particularly covering how to use streams in C#.  If you would like to view the project’s PDF instructions which were used to make this application, please <a href=”https://github.com/head-first-csharp/fourth-edition/blob/master/Downloadable_projects/Chapter_10_project.pdf” target=”blank”>click here (link)</a>.</p>
                            <br/>
                            <h4>Hide and Seek Game Design</h4>
                            <br>
                            <p>The classic childhood game hide and seek is featured in this application. The user moves through, searching for five virtual players that are hiding in a number of different hiding spots throughout the three-story house. The game was originally designed to be played as a command line interface (CLI) game (consisting of text-prompts by the application and text response/commands from the user playing the game). After the game was fully built for CLI, it was then converted to having a graphical user interface (GUI) in Blazor WebAssembly, a front-end web framework which uses C# instead of JavaScript. When this game was added to this website (<a href=”#” target=”blank”>click here</a> to go to the project) the original UI was kept and was then given an improved GUI that was much more responsive across screen sizes (a concern of keeping this progressive web app (PWA) responsive web design (RWD) compliant).</p>
                            <p>This project in particular highlights the use of a StreamWriter to save and load mid-game data to the user’s local machine. Test-driven design (TDD) was used in the development of the application (a process which involves writing unit tests first, making them fail, then writing code until the tests no longer fail). The classes that were foundational dependencies (meaning all other classes rely on their being functional) were coded first, and then the classes that use those classes, which are dependencies for other classes, were built and so on. This is the supposed “proper” way of coding OOP (object-oriented programming) entities when a dependency tree exists.</p>
                            <p>The classes that are used are the GameController, House, Location, LocationWithHidingPlaceSome, and Opponent classes. It also includes a Direction enum. An enum is a list of limited variations of the same object type. The enums infer/suggest a relationship and possible interchangeability between the enum’s values to be used somewhere in the code. The name of the enum, in this case “Direction”, becomes the data type that each of these values share. In this case, rooms (“Location”s) are linked together. Each location has a list of exits. Each exit is a passageway (the link) between rooms. Each exit is a Direction value. For two Locations that are linked, each Location has an exit with the opposite corresponding Direction value. For instance, the Entry has a “Direction.Out” exit that leads to the Garage, while the Garage has a “Direction.In” exit that leads to the Entry. The House class is a static class (a class that requires all class members to be static; it cannot be instantiated but can be used by referring directly to the class, such as “House.GetLocationNames()”). The House class houses all locations that the player can navigate through. Since the Locations (rooms) are instantiated in the House class, this means all Location connections are created in the House class as well. Certain locations have additional members which include a hiding space where multiple opponents (instances of the Opponent class) can hide. These “LocationWithHidingPlace” instances inherit from Location and make this possible.</p>
                            <p>All of the above is accessible via the GameController. The Game Controller provides the interface for the view/program to obtain the necessary text or data feedback that the game involves. In the CLI version of this Hide and Seek game, the game program exists in a loop which runs through generating a prompt with current game status, available exits, if there is a hiding place in their current location, and then asks the player where they want to go. The user responds by checking an available hiding place or with one of the available directions - <b>not</b> with the name of the room (an important distinction for later versions of the game). At any point in time the user can save the game with the “save {filename}” command or the “load {filename}” command for games that were saved previously. These functions are included in the GameController class.</p>
                            <br/>
                            <h4>Moving from CLI to GUI</h4>
                            <br>
                            <p>The project authors suggested switching the CLI to having a GUI so that the developer (me) could gain experience converting a program to using a new interface. I opted to do so, choosing to use Blazor WASM for the implementation. It was not difficult to move the project assets (mostly the classes) over to the Blazor project. I experienced a learning curve with Blazor when utilizing data binding particularly for the list of available exits which the user selects first before moving to a new location via the selected exit (two separate interactions). It was a simple GUI and it gave the game a 2D interface for interaction - a step up in user experience.</p>
                            <br/>
                            <h4>Moving v1 GUI to This PWA with v2 GUI</h4>
                            <br>
                            <p>When adding the game to this progressive web app (PWA) I decided to include the Original UI so as to compare it to the newly created UI (called “Current UI”) that I wanted for this PWA. I had increased in knowledge skills with Blazor since the first version of the UI was made, and I came to find that the first version UI was not responsive enough. It needed to be fully responsive for this PWA (<a href=”#” target=”blank”>read more (link)</a>).</p>
                            <p>To improve the user experience (UX) of the player, I chose to utilize a virtual GUI controller made up of the directions the player could select and to have the text prompts and  game status all appear in the screen above it - kind of like a handheld gaming device of the 1990s and 2000s. This maximized the amount of screen space I could utilize by minimizing the space taken up by the controls of the original UI -  something that would be particularly important for mobile users when considering readability and minimized number of required interactions. You will notice on this point that the user no longer has to select AND move - the player can move with one tap or click instead of two. Feedback is something that can be useful for users, and in this case feedback about which directions they are able to go through are presented to them by lighting up the available exit directions in the controller (a feedback function that virtual controllers have much more readily available than physical controllers do). This is important to note: a key aspect of the original game is that the user chooses the <u>direction</u> they want to go and <u>not</u> the location. Locations can change with every room the player visits which would not be able to be captured as information feedback to the user through the controller (at least not without major modifications to the controller, ultimately ruining the controller design due to lack of space for more than 2 letters) - but if the player navigates using a limited number of directions then the same directions can be presented in the controller without issue when moving between locations. This early design decision in the first version of the game by the project authors made a huge impact on the final UI, which in turn affects the experience the player receives.</p>
                        </div>
                    </div>
                }
                @if (!navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo
                || navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo && navMgmt.SectionedPages[1].Sections[16].IsCurrentPromo)
                {
                    <div class="section-container">
                        <div class="section-header @navMgmt.SectionedPages[1].Sections[15].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(16))">
                            Bee Hive Manager System/Game - Project
                            &nbsp;
                            @if (navMgmt.SectionedPages[1].Sections[16].IsCollapsedHeader == "collapsed-header")
                            {
                                   <i class="fa fa-chevron-left" />
                            }
                            else
                            {
                                   <i class="fa fa-chevron-down" />
                            }
                        </div>
                        <div class="section-content @navMgmt.SectionedPages[1].Sections[16].IsCollapsedContent">
                            <h3 style="text-align: center;">Bee Hive Manager System/Game</h3>
                            <p>April 26th, 2023</p>
                            <br />
                            <h4>Introducing the Hive</h4>
                            <br />
                            <p>
                                This project was a part of Chapter 6 of <i>Headfirst C# (4th Edition)</i> by Andrew Stallman and Jennifer Greene. The chapter covered the topic of inheritance in-depth. This project is designed to show how inheritance can be used to require members to be present in child classes through use of a regular or abstract class. In this system, the user is the Queen Bee who inherits from the Bee class. All bees inherit from the Bee class, and each Bee has a job to do and an amount of honey that they consume per shift of work done before doing their job. If they don’t eat, they don’t work - but they will eat what they can. The bees are pretty lazy, so they won’t work unless the QueenBee tells them to as part of her job. If she doesn’t eat (which she of course eats first), then no one else eats and the hive goes bankrupt.
                            </p>
                            <p>
                                    There are three jobs in the hive: Honey Manufacturer, Nectar Collector, and Egg Nurse. When the QueenBee lays eggs, EggNurses nurse eggs until they become Unassigned Worker Bees. The QueenBee is responsible for assigning the worker bees in a manner that keeps her hive running smoothly. The Honey Manufacturer Been makes honey each shift from currently available nectar. If there is no nectar, no honey gets made.The Nectar Collector collects nectar from flowers in the field. All of the jobs of the bees work in a number of economic loops, as can be seen below 
                            </p>
                            <div class="wpa-image">
                                <img src="media/images/beeHiveGame/BeeHiveFeedbackLoopsDiagram.png">
                            </div>
                            <br/>
                            <br />
                            <h4>Bee Hive Build Progression</h4>
                            <br>
                            <p>
                                This project was originally written with a WPA front-end (which is coded in XAML). It looked like this once it was all prepared: 
                            </p>
                            <div class="wpa-image">
                                <img src="media/images/beeHiveGame/BeeHiveGameWPA.png">
                            </div>
                            <p>
                                The classes were built in a normal progression, from the HoneyVault static class, to the Bee as an abstract class, to the three worker types that inherit Bee, and finally to the Queen who is able to do the most out of all the classes. It is the QueenBee’s inherited method “WorkNextShift” method that gets called when the user clicks the “WorkNextShift” button, causing a series of actions to take place in the hive from this single action.
                            </p>
                            <p>
                                The system had two modes: a stepwise mode and a real-time mode. The real-time mode involved a timer applied to the “Work Next Shift” button which would simulate being clicked every 1.5 seconds. When the game was moved from WPA (XAML) to Blazor WASM for this WPA, the DispatchTimer was replaced with System. Timers.Timer.
                            </p>
                            <p>
                                The initial project was not intended to be a full game (that was outside of its scope). When it was migrated and adapted to Blazor WASM for this PWA, those aspects of gameplay needed to be introduced into the game. The readability of a plain text paragraph that updated each shift was not ideal for an enjoyable user experience (and it could definitely look nicer too). A BeeHiveController class was introduced to free the data from its plaintext paragraph to have specific styles and positions applied to each data point. (It is understood that controllers are not generally supposed to be responsible for data manipulation, but they are normally used for transferring prepared data to a view. In this case the controller does both. This is due to lack of a better term.)
                            </p>
                            <p>
                                As developments in the game’s view occurred, I left semi-prepared versions of points where the game was somewhat complete as that view’s current idea. This is for the benefit of the user to compare improvements over the progression of the view’s development. In developing the view, reliability was of the utmost concern. Things like spacing, font-size, RWD, related information location, visibility of rates and addition of data markers which build on top of those rates are all examples of the kinds of improvements that went into the game. 
                            </p>
                            <p>
                                Late in development when the timer for Blazor WASM was being implemented, the issue of updating the view component became a problem. Since updating the whole component looked to be a problem, the view for version 3 was moved to a separate component. This led to splitting up the view logic across two components. The logic was extracted and housed as a C#-coded singleton with references added for each component. By this point, what I had not realized is that 2 consecutive requirements had eliminated the need for the first requirement. So I ended up moving the version 3 view component markup back into its original component and deleting the other component once I was sure I no longer needed it (this eliminated unneeded complexity). The root of the issue is that the data values were being obtained through C3 property Get methods, and these Get methods had nothing to trigger their method when data in the “model” of the game was updated. What accomplished the triggering of the methods is an event tied to the timer’s elapsed method, so that after all values were updated in the “model”, the event would be triggered, and the subscribed method in the code section of the Razor component can invoke the “StateHasChanged()” razor method that re-renders the component manually - presenting the updated rates in the component.
                            </p>
                            <br />
                            <h4>Project Take Aways</h4>
                            <br>
                            <p>
                                Singletons and DI: Migrating this game and developing its view brought me to appreciate how useful the Singleton and DI design patterns are when used together (I learned about how to code Singletons during this project while learning from ChatGPT). I was able to utilize C#-coded Singletons to house a single instance of code that I wanted referenced in multiple places. I came to see that the navMgmt class which I had created for the PWA is useful the way it is because it is a Singleton. I discovered that I don’t need to keep the navMgmt class as a registered Blazor WASM service after all - it can be its own code and then be removed from a domain of the project that is supposed to be solely responsible for data request and validation.
                            </p>
                            <p>
                                Tabs Add Space: This is now the second place where I have added a tab-like functionality to the view. Since I am very interested in the development of the future of PWA for mobile devices, and since space seems to be an issue when creating RWD for mobile screens - it appears that in-view tabs have the ability to create space in a compact and easily navigable fashion. You can even use a single component to accomplish this with C#/Razor component conditionals if you are using Blazor WASM. I am now wondering (since I have just witnessed Windows 11’s update to their File Explorer, giving it tabs) that there are likely UI improvements that can make tabs appear nicer or more obvious, the way browsers present them. (When I was in college, I read in a UX/UI book that the best way to do RWD is to start with mobile first. It is much easier to add than to remove things once you have added them. When you aim to optimize for mobile, you are putting the largest user category first (mobile users). When you design mobile-first, you are left with much more space for larger screens, and this is because the designer tries to make the most out of the little space that he has first - a tighter constraint - than if he were to start with more and move to less. No, start with less, and later on the acquisition of more space will be adequately appreciated and utilized even better than previously.)
                            </p>
                            <br />
                            <h4>Upcoming Plans</h4>
                            <br>
                            <p>
                                At this point in time I have created a new PanelMgmt singleton for potentially managing all panels used in the project, so that when one is selected, if any others are open then they will be closed before opening the panel selected. Logic for classes applied to each panel are housed in PanelMgmt (including for activated appearance of the selected button), relieving single components from having to implement their own view panel logic. A new panel’s logic can be created and labeled in the PanelMgmt singleton class and plugged in wherever it is needed through adding a PanelMgmt reference to the component. The navMgmt class already manages its own panels in this way, so after I migrate the navMgmt class to be an unregistered C#-coded singleton I plan to migrate the navMgmt panels to the PanelMgmt singleton, and then with a reference to PanelMgmt in the navMgmt class, the navMgmt class can tell the PanelMgmt class what to do when certain navigation actions occur.
                            </p>
                            <p>
                                A lot of ideas for this BeeHive game emerged, and the top ideas I want to implement at some point include (1) settings with checkboxes that can make certain rates not visible, (2) add ability to change the game-defining rate and conversion values that were given by the project’s author (as well ability to revert to defaults),  I would like to (3) add a “Worker Lineup” of all workers and the order in which they will work when the next shift starts (since  worker order does matter; a series of small actions does not have the same effect as the sum of the actions happening at one single point in time), and (4) add a “Transaction Ledger” for all transactions that occur for each worker, in order, showing a running balance of the total amount of honey (and nectar, space permitting) that is currently in the Vault.
                            </p>
                        </div>
                    </div>
                }
                @if (navMgmt.SectionedPages[1].ASectionIsCurrentlyPromo)
                {
                    @if (!navMgmt.SectionedPages[1].Sections[0].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[0].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(0))">
                                Overview
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[1].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[1].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(1))">
                                Languages
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[2].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[2].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(2))">
                                Stacks
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[3].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[3].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(3))">
                                Web Front-End
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[4].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[4].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(4))">
                                UX/UI + Modeling Software
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[5].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[5].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(5))">
                                Cloud Deployment + Containers
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[6].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[6].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(6))">
                                Databases
                                &nbsp;
                                <i class="fa fa-chevron-left"/>
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[7].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[7].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(7))">
                                Testing
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[8].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[8].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(8))">
                                CLI
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[9].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[9].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(9))">
                                Programming Paradigms & Methodologies
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[10].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[10].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(10))">
                                Repositories
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[11].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[11].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(11))">
                                Game Development
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[12].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[12].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(12))">
                                Operating Systems
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[13].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[13].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(13))">
                                Why Programming?
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[14].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[14].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(14))">
                                About This Web App
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[15].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[15].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(15))">
                                Hide & Seek Game - Project
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                    @if (!navMgmt.SectionedPages[1].Sections[16].IsCurrentPromo)
                    {
                        <div class="section-container">
                            <div class="section-header @navMgmt.SectionedPages[1].Sections[16].IsCollapsedHeader" @onclick="(()=>navMgmt.SectionedPages[1].ToggleCollapseSingle(16))">
                                Bee Hive Manager System/Game - Project
                                &nbsp;
                                <i class="fa fa-chevron-left" />
                            </div>
                        </div>
                    }
                }
                <div class="toggle-all-sections-container">
                    <div class="toggle-all-sections" @onclick="navMgmt.SectionedPages[1].ToggleAllSections">
                        @if (navMgmt.SectionedPages[1].SectionsStatus == SectionsStatus.AllAreOpen)
                        {
                            <span class="fa-solid fa-down-left-and-up-right-to-center"></span>
                        }
                        else
                        {
                            <span class="fa-solid fa-up-right-and-down-left-from-center"></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </PageContent>
</DrawerPageTemplate>

@code { 
    private NavMgmt navMgmt = NavMgmt.Instance;

    protected override void OnInitialized() =>
        navMgmt.OnNavMgmtUpdated += UpdateThisComponent;
    void IDisposable.Dispose() =>
        navMgmt.OnNavMgmtUpdated -= UpdateThisComponent;
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();
}
