@inject SudokuService SudokuService

<PageTitle>SudokuSolver</PageTitle>

<ProjectsPageTemplate>
    <div class="comp-container">
        <div class="top-row display-horizontal">
            <div class="top-row-menu">
                @* <div class="info-button-container"> *@
                @*     <a href="projectinfo/36"> *@
                @*         <div class="info-button"> *@
                @*             <span class="fa-solid fa-circle-info"></span> *@
                @*         </div> *@
                @*     </a> *@
                @* </div> *@
                <div class="display-horizontal">
                    <span class="puzzle-book-label">Puzzle Book&nbsp;</span>
                    <select class="form-select form-select-sm puzzle-selector" @bind="SudokuService.SelectedMatrix">
                        @foreach (var puzzlePair in SudokuService.Puzzles)
                        {
                            <option value="@puzzlePair.Key">@puzzlePair.Key</option>
                        }
                    </select>
                </div>
                <div class=""></div>
            </div>
        </div>

        <SudokuGrid SudokuService="SudokuService" />

        <br/>

        <div class="buttons-container">
            <div class="btn btn-primary button" @onclick="SudokuService.SolveGui">
                Solve
            </div>
            <div class="btn btn-secondary button" @onclick="SudokuService.ResetCurrentPuzzle">
                Reset
            </div>
        </div>

        Is Solved?: @SudokuService.IsSolved

        <div class="hint">
            Click the "Solve"" button once to begin solving. Due to the solver using the only thread available once it 
            starts (it is synchronous), you will not be able to interact with this page until the solver is done solving.
            <br /><br />
            Try selecting a puzzle from the Puzzle Book above!
            <br /><br />
            This solver on average solves in around 30s but it can take anywhere between 3s to 1m 45s to solve, depending on the puzzle.
            <br/>
        </div>

        @*
        @if (SudokuService.Puzzle.Ledger.ValueTxns.Count() != 0)
        {
            <div class="hint">
                Update Count: @SudokuService.Puzzle.Ledger.ValueTxns.Count() updates<br />
                @*Progress: @SudokuService.Puzzle.ProgressPercentage%<br />*
            </div>
        }
        *@

    </div>
    <br /><br />
</ProjectsPageTemplate>

@code { }