@using ProfessionalWebsite.Client.Classes.NavMgmt;
@using ProfessionalWebsite.Client.Classes.PanelMgmt;
@inherits LayoutComponentBase
@implements IDisposable

<div class="page-container">
    <div class="page">

        @* Part of Option1: This element covers all contents in the viewport if the viewport is not mobile (z-index: 60) *@
        @* <ClosedStageCurtain /> *@

        @* Part of Option2: On large screens (desktop) shows instructions and animation controls *@
        @*
        <div class="left-negative-space">
            @if (ExternalLayoutControls)
            {
                <article class="animate-app external-layout-controls">
                    <AppAnimations 
                        FirstAnimationCallback="PlayFirstAnimation"
                        SecondAnimationCallback="PlaySecondAnimation"
                        ThirdAnimationCallback="PlayThirdAnimation"
                        FourthAnimationCallback="PlayFourthAnimation"
                        FifthAnimationCallback="PlayFifthAnimation" />
                </article>
            }
            else 
            {
                <p>
                    Download this app today on any mobile device using the QR code on the right!
                </p>
                <p>&nbsp;</p>
                <p>
                    Or use your mobile browser to install this progressive web app (PWA) as an app on your device's homescreen!
                </p>
                <br />
                <button class="btn btn-danger" @onclick="SetExternalLayoutControlsToTrue">Animations</button>
            }
        </div>
        *@

        <main class="main @AnimateMain">

            @* Buttons (z-index: 40) *@
            <NavButtons StatusA="@navMgmt.AssociatedNav[0].NavButtonStatus"
                        StatusB="@navMgmt.AssociatedNav[1].NavButtonStatus"
                        StatusC="@navMgmt.AssociatedNav[2].NavButtonStatus"
                        StatusD="@navMgmt.AssociatedNav[3].NavButtonStatus"
                        StatusE="@navMgmt.AssociatedNav[4].NavButtonStatus"
                        UpdateNavCallback="navMgmt.UpdateNav" />

            @* Panels (z-index: 30) *@
            <NavPanels NavPanelAStatus="@navMgmt.AssociatedNav[0].NavPanelStatus"
                       NavPanelBStatus="@navMgmt.AssociatedNav[1].NavPanelStatus"
                       NavPanelCStatus="@navMgmt.AssociatedNav[2].NavPanelStatus"
                       NavPanelDStatus="@navMgmt.AssociatedNav[3].NavPanelStatus"
                       NavPanelEStatus="@navMgmt.AssociatedNav[4].NavPanelStatus"
                       UpdateNavCallback="navMgmt.RouteUserAndUpdateNav"
                       ShowLayoutControlsCallback="navMgmt.ShowLayoutControls" />
            <div class="anim-icon @panelMgmt.Panels[0].PanelButtonStatus" @onclick="(()=>panelMgmt.TogglePanel(0))">
                <span class="fa-solid fa-magnet" aria-hidden="true"></span>
            </div>
            <div class="anim-controls @panelMgmt.Panels[0].PanelStatus">
                <h4>Animations</h4>
                <div class="anim-pair" @onclick="(()=>navMgmt.PlayAnimation(1, false))">
                    <div class="anim-regular">
                        Bombastic
                    </div>
                    <div class="anim-continuous" @onclick="(()=>navMgmt.PlayAnimation(1, true))">
                        <span class="fa-solid fa-infinity" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(2, false))">
                        Skywalker
                    </div>
                    <div class="anim-continuous" @onclick="(()=>navMgmt.PlayAnimation(2, true))">
                        <span class="fa-solid fa-infinity" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(3, false))">
                        Kitchen Sink
                    </div>
                    <div class="anim-continuous" @onclick="(()=>navMgmt.PlayAnimation(3, true))">
                        <span class="fa-solid fa-infinity" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(4, false))">
                        Flipster
                    </div>
                    <div class="anim-continuous" @onclick="(()=>navMgmt.PlayAnimation(4, true))">
                        <span class="fa-solid fa-infinity" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(5, false))">
                        Asteroid
                    </div>
                    <div class="anim-continuous" @onclick="(()=>navMgmt.PlayAnimation(5, true))">
                        <span class="fa-solid fa-infinity" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(7, false))">
                        FlipOnX
                    </div>
                    <div class="anim-continuous"></div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(6, false))">
                        FlipOnY
                    </div>
                    <div class="anim-continuous"></div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(11, false))">
                        RotateOnZ
                    </div>
                    <div class="anim-continuous"></div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(8, false))">
                        East Is Up
                    </div>
                    <div class="anim-continuous"></div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(9, false))">
                        West Is Up
                    </div>
                    <div class="anim-continuous"></div>
                </div>
                <div class="anim-pair">
                    <div class="anim-regular" @onclick="(()=>navMgmt.PlayAnimation(10, true))">
                        SloRo (<span class="fa-solid fa-infinity" aria-hidden="true"></span>)
                    </div>
                    <div class="anim-continuous"></div>
                </div>
            </div>

            @* Behind Panel (z-index: 20) *@
            <div class="behind-panel @navMgmt.BehindPanel" @onclick="navMgmt.UpdateNavFromBehindPanel"></div>

            @* original Main items (z-index: auto) *@
            <div class="container-fluid header">
                <a class="navbar-brand" href="#contact" @onclick="(()=>navMgmt.NavigateToCollapsibleSectionOfOtherPage(2, 6))">
                    <i class="navbar-brand-icon-one fa-solid fa-terminal"></i>
                    &nbsp;
                    @* Only one of the below will show at a time based on CSS *@
                    <span class="title-size-largest">Collyn Brenner's Developer Portfolio</span>
                    <span class="title-size-four">Collyn Brenner's Dev Portfolio</span>
                    <span class="title-size-three">Collyn's Developer Portfolio</span>
                    <span class="title-size-two">Collyn's Dev Portfolio</span>
                    <span class="title-size-one">Collyn's Portfolio</span>
                    @* On hover *@
                    <div class="navbar-brand-onhover">
                        <i class="fa-solid fa-envelope"></i>
                        Contact Me
                    </div>
                </a>
            </div>
            @* Below is not used. *@
            @*
            <div class="top-row fixed-top px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
            *@
            <article class="content @navMgmt.ContentBlur @panelMgmt.Panels[0].MainContent">
                @Body
            </article>
            
            @* single custom page having controls that manipulate the app w/animations (z-index: auto) *@
            <article class="animate-app @navMgmt.LayoutControls @navMgmt.ContentBlur">
                <AppAnimations/>
            </article>
        </main>

        @* Part of Option2 && Option3: QR Code (for lookup via mobile) *@
        @*
        <div class="right-negative-space">
            <div class="qr-code">
                <img src="media/images/frame.png" class="qr-code-image" />
            </div>
        </div>
        *@

        @* Discontinue Button (z-index: 50, position: fixed) *@
        <div class="continuous-animate-stop @navMgmt.DiscontinueButton">
            <button class="btn btn-danger" @onclick="navMgmt.StopMainAnimation">Discontinue</button>
        </div>
    </div>
</div>

@code {
    private NavMgmt navMgmt = NavMgmt.Instance;
    private PanelMgmt panelMgmt = PanelMgmt.Instance;

    // All code here is for animating the "main" element
    // (event is required due to this layout component needing to re-render)
    // (it is weird when a child has to tell their parent what to do)

    private string AnimateMain = "";
    private string AnimControlsDisplay = "";

    protected override void OnInitialized()
    {
        navMgmt.OnAnimateMain += UpdateAnimateMain;
        panelMgmt.OnPanelMgmtUpdated += UpdateThisComponent;
    }
    void IDisposable.Dispose()
    {
        navMgmt.OnAnimateMain -= UpdateAnimateMain;
        panelMgmt.OnPanelMgmtUpdated -= UpdateThisComponent;
    }

    private void UpdateAnimateMain(string animation)
    {
        AnimateMain = animation;
        StateHasChanged();
    }
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();

    /*
    private void ToggleAnimControlsDisplay() =>
        AnimControlsDisplay = AnimControlsDisplay == "anim-display" ? "" : "anim-display";
    */
}
