@inherits LayoutComponentBase
@implements IDisposable
@inject NavService NavService

<div class="page-container">
    <div class="page">

        @* Part of Option1: This element covers all contents in the viewport if the viewport is not mobile (z-index: 60) *@
        @* <ClosedStageCurtain /> *@

        @* Part of Option2: On large screens (desktop) shows instructions and animation controls *@
        @*
        <div class="left-negative-space">
            @if (ExternalLayoutControls)
            {
                <article class="animate-app external-layout-controls">
                    <AppAnimations 
                        FirstAnimationCallback="PlayFirstAnimation"
                        SecondAnimationCallback="PlaySecondAnimation"
                        ThirdAnimationCallback="PlayThirdAnimation"
                        FourthAnimationCallback="PlayFourthAnimation"
                        FifthAnimationCallback="PlayFifthAnimation" />
                </article>
            }
            else 
            {
                <p>
                    Download this app today on any mobile device using the QR code on the right!
                </p>
                <p>&nbsp;</p>
                <p>
                    Or use your mobile browser to install this progressive web app (PWA) as an app on your device's homescreen!
                </p>
                <br />
                <button class="btn btn-danger" @onclick="SetExternalLayoutControlsToTrue">Animations</button>
            }
        </div>
        *@

        <main class="main @AnimateMain">

            @* Buttons (z-index: 40) *@
            <NavButtons StatusA="@NavService.AssociatedNav[0].NavButtonStatus"
                        StatusB="@NavService.AssociatedNav[1].NavButtonStatus"
                        StatusC="@NavService.AssociatedNav[2].NavButtonStatus"
                        StatusD="@NavService.AssociatedNav[3].NavButtonStatus"
                        StatusE="@NavService.AssociatedNav[4].NavButtonStatus"
                        UpdateNavCallback="NavService.UpdateNav" />

            @* Panels (z-index: 30) *@
            <NavPanels NavPanelAStatus="@NavService.AssociatedNav[0].NavPanelStatus"
                       NavPanelBStatus="@NavService.AssociatedNav[1].NavPanelStatus"
                       NavPanelCStatus="@NavService.AssociatedNav[2].NavPanelStatus"
                       NavPanelDStatus="@NavService.AssociatedNav[3].NavPanelStatus"
                       NavPanelEStatus="@NavService.AssociatedNav[4].NavPanelStatus"
                       UpdateNavCallback="NavService.RouteUserAndUpdateNav"
                       ShowLayoutControlsCallback="NavService.ShowLayoutControls" />

            @* Behind Panel (z-index: 20) *@
            <div class="behind-panel @NavService.BehindPanel" @onclick="NavService.UpdateNavFromBehindPanel"></div>

            @* original Main items (z-index: auto) *@
            <div class="container-fluid header">
                <a class="navbar-brand" href="#contact" @onclick="(()=>NavService.RouteUserAndUpdateNav(2))">
                    <i class="navbar-brand-icon-one fa-solid fa-terminal"></i>
                    &nbsp;
                    @* Only one of the below will show at a time based on CSS *@
                    <span class="title-size-largest">Collyn Brenner's Developer Portfolio</span>
                    <span class="title-size-four">Collyn Brenner's Dev Portfolio</span>
                    <span class="title-size-three">Collyn's Developer Portfolio</span>
                    <span class="title-size-two">Collyn's Dev Portfolio</span>
                    <span class="title-size-one">Collyn's Portfolio</span>
                    @* On hover *@
                    <div class="navbar-brand-onhover">
                        <i class="fa-solid fa-envelope"></i>
                        Contact Me
                    </div>
                </a>
            </div>
            @* Below is not used. *@
            @*
            <div class="top-row fixed-top px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
            *@
            <article class="content @NavService.ContentBlur">
                @Body
            </article>
            
            @* single custom page having controls that manipulate the app w/animations (z-index: auto) *@
            <article class="animate-app @NavService.LayoutControls @NavService.ContentBlur">
                <AppAnimations/>
            </article>
        </main>

        @* Part of Option2 && Option3: QR Code (for lookup via mobile) *@
        @*
        <div class="right-negative-space">
            <div class="qr-code">
                <img src="media/images/frame.png" class="qr-code-image" />
            </div>
        </div>
        *@

        @* Discontinue Button (z-index: 50, position: fixed) *@
        <div class="continuous-animate-stop @NavService.DiscontinueButton">
            <button class="btn btn-danger" @onclick="NavService.StopMainAnimation">Discontinue</button>
        </div>
    </div>
</div>

@code {
    // All code here is for animating the "main" element
        // (event is required due to this layout component needing to re-render)
        // (it is weird when a child has to tell their parent what to do)

    private string AnimateMain = "";

    protected override void OnInitialized() =>
        NavService.OnAnimateMain += UpdateAnimateMain;
    void IDisposable.Dispose() =>
        NavService.OnAnimateMain -= UpdateAnimateMain;

    private void UpdateAnimateMain(string animation)
    {
        AnimateMain = animation;
        StateHasChanged();
    }
}
