<div class="container-one">
    <div class="container-two">
        <div class="nav-button @StatusA" @onclick="(()=>UpdateNav('A'))">
            <span class="button-icon fa-solid fa-magnet" aria-hidden="true"></span>
            <span class="button-label">Projects</span>
        </div>
        <div class="nav-button @StatusB" @onclick="(()=>UpdateNav('B'))">
            <span class="button-icon fa-solid fa-hand-spock" aria-hidden="true"></span>
            <span class="button-label">Know-How</span>
        </div>
        <div class="nav-button @StatusC" @onclick="(()=>UpdateNav('C'))">
            <span class="button-icon fa-solid fa-house" aria-hidden="true"></span>
            <span class="button-label">Collyn</span>
        </div>
        <div class="nav-button @StatusD" @onclick="(()=>UpdateNav('D'))">
            <span class="button-icon fa-solid fa-plus" aria-hidden="true"></span>
            <span class="button-label">Invent</span>
        </div>
        <div class="nav-button @StatusE" @onclick="(()=>UpdateNav('E'))">
            <span class="button-icon fa-solid fa-cloud" aria-hidden="true"></span>
            <span class="button-label">Articles</span>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string StatusA { get; set; } = "";
    [Parameter]
    public string StatusB { get; set; } = "";
    [Parameter]
    public string StatusC { get; set; } = "";
    [Parameter]
    public string StatusD { get; set; } = "";
    [Parameter]
    public string StatusE { get; set; } = "";
    [Parameter]
    public EventCallback<char> UpdateNavCallback { get; set; }
    private async Task UpdateNav(char character) =>
        await UpdateNavCallback.InvokeAsync(character);
}
