@implements IDisposable
@inject UIService UI

<div class="container-one">
    <div class="container-two">
        <div class="nav-button @UI.Panels[2].PanelButtonStatus" @onclick="(()=>UI.TogglePanel(2))">
            <span class="button-icon fa-solid fa-diagram-project" aria-hidden="true"></span>
            <span class="button-label">Projects</span>
        </div>
        <div class="nav-button @UI.Panels[3].PanelButtonStatus" @onclick="(()=>UI.TogglePanel(3))">
            <span class="button-icon fa-solid fa-flask" aria-hidden="true"></span>
            <span class="button-label">Know-How</span>
        </div>
        <div class="nav-button @UI.Panels[4].PanelButtonStatus" @onclick="(()=>UI.TogglePanel(4))">
            <span class="button-icon fa-solid fa-book" aria-hidden="true"></span>
            <span class="button-label">Collyn</span>
        </div>
        <div class="nav-button @UI.Panels[5].PanelButtonStatus" @onclick="(()=>UI.TogglePanel(5))">
            <span class="button-icon fa-solid fa-warehouse" aria-hidden="true"></span>
            <span class="button-label">Invent</span>
        </div>
        <div class="nav-button @UI.Panels[6].PanelButtonStatus" @onclick="(()=>UI.TogglePanel(6))">
            <span class="button-icon fa-solid fa-newspaper" aria-hidden="true"></span>
            <span class="button-label">Articles</span>
        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized() =>
        UI.OnUiServiceChanged += UpdateThisComponent;
    void IDisposable.Dispose() =>
        UI.OnUiServiceChanged += UpdateThisComponent;
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();
}
