
<div class="@SectionHeader" @onclick="ToggleSection">
    <span class="@IconClasses" aria-hidden="true"></span>
    @ButtonText
    <div class="chevron-container">
        <i class="fa fa-chevron-left" style="display: @ChevronLeftDisplay" />
        <i class="fa fa-chevron-down" style="display: @ChevronDownDisplay" />
    </div>
</div>

<div style="display: @SectionDisplay">
    @ChildContent
</div>

@code {
    protected override void OnInitialized()
    {
        if (!IsCollapsible)
        {
            ChevronLeftDisplay = "none";
            SectionDisplay = "block";
        }
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string IconClasses { get; set; }
    [Parameter]
    public string ButtonText { get; set; }
    [Parameter]
    public bool IsCollapsible { get; set; } = true;

    public string ChevronLeftDisplay = "block";
    public string ChevronDownDisplay = "none";
    public string SectionDisplay = "none";
    public string SectionHeader => IsCollapsible ? "section-header-one" : "section-header-two";

    public void ToggleSection()
    {
        if (!IsCollapsible) { }
        else if (ChevronLeftDisplay == "block")
        {
            ChevronLeftDisplay = "none";
            ChevronDownDisplay = "block";
            SectionDisplay = "block";
        }
        else
        {
            ChevronLeftDisplay = "block";
            ChevronDownDisplay = "none";
            SectionDisplay = "none";
        }
    }
}
