@implements IDisposable
@inject UIService UI

<NavPanelContainer PanelPosition="" NavPanelStatus="@UI.Panels[2].PanelStatus">
    <NavPanelNavLinkButton Href="sudoku-solver"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-flask"
                           ButtonText="Projects"
                           ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
    <div class="panel-scrollablesection">
      @*<NavPanelNavLinkButton Href="stats"
                               IconClasses="fa-solid fa-chart-line"
                               ButtonText="Statistics"
        ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />*@
        <NavPanelNavLinkButton Href="sudoku-solver"
                               ButtonText="Sudoku Solver"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
        <NavPanelNavLinkButton Href="beehivemgmtsystem"
                               ButtonText="Bee Hive Manager"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
        <NavPanelNavLinkButton Href="hideandseek"
                               ButtonText="Hide & Seek"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
        @* <NavPanelNavLinkButton Href="projectinfo/14" *@
        @*                        ButtonText="This PWA" *@
        @*                        ButtonClickCallback="(()=>UI.NavigateToSection(14))" /> *@
        <NavPanelNavLinkButton Href="matchgame"
                               ButtonText="Match Game"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
      @*<NavPanelNavLinkButton Href="twodecks"
                               ButtonText="Two Decks"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
        <NavPanelNavLinkButton Href="issuetracker"
                               ButtonText="Issue Tracker"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
        <NavPanelNavLinkButton Href="gofish"
                               ButtonText="Go Fish"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />*@
      @*<NavPanelNavLinkButton Href="phpcmsandprocessbook"
                               ButtonText="PHP CMS & Process Book"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />*@
        <NavPanelNavLinkButton Href="counter"
                               IconClasses="fa-solid fa-plus"
                               ButtonText="Counter"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
      @*<NavPanelNavLinkButton Href="ecommerce"
                               ButtonText="E-commerce"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />*@
        <NavPanelNavLinkButton Href="spinners"
                               IconClasses="fa-solid fa-hand-spock"
                               ButtonText="Spinners"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />
      @*<NavPanelNavLinkButton Href="djangopollingapp"
                               ButtonText="Polling App (Django/Python)"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(2))" />*@
        @* <NavPanelNavLinkButton Href="projectinfo/34" *@
        @*                        IconClasses="fa-solid fa-envelope" *@
        @*                        ButtonText="Contact" *@
        @*                        ButtonClickCallback="(()=>UI.NavigateToSection(34))" /> *@
        @* <NavPanelNavLinkButton Href="#" *@
        @*                        ButtonText="Layout Controls" *@
        @*                        ButtonClickCallback="(()=>UI.NavigateToHardCodedPage(7, 4))" /> *@
    </div>
</NavPanelContainer>
@* <NavPanelContainer PanelPosition="panel-position-e" NavPanelStatus="@UI.Panels[3].PanelStatus"> *@
@*     <NavPanelNavLinkButton Href="projectinfo/" *@
@*                            TopLvlClasses="panel-header" *@
@*                            IconClasses="fa-solid fa-circle-info" *@
@*                            ButtonText="Project Info" *@
@*                            ButtonClickCallback="(()=>UI.NavigateToSection(0))" /> *@
@*     <div class="panel-scrollablesection"> *@
@*         @* *@
@*         <NavPanelNavLinkButton Href="projectinfo/0" *@
@*                                ButtonText="Overview" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(0))" /> *@
@*                                *@
@*         @*<NavPanelButtonContainer IsCollapsible="false" ButtonText="Integrated Projects">*@
@*         <NavPanelNavLinkButton Href="projectinfo/14" *@
@*                                 ButtonText="About" *@
@*                                 ButtonClickCallback="(()=>UI.NavigateToSection(14))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/16" *@
@*                                 ButtonText="Bee Hive Manager System/Game" *@
@*                                 ButtonClickCallback="(()=>UI.NavigateToSection(16))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/15" *@
@*                                 ButtonText="Hide & Seek Game" *@
@*                                 ButtonClickCallback="(()=>UI.NavigateToSection(15))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/33" *@
@*                                 ButtonText="Match Game" *@
@*                                 ButtonClickCallback="(()=>UI.NavigateToSection(33))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/36" *@
@*                                 ButtonText="Sudoku Solver" *@
@*                                 ButtonClickCallback="(()=>UI.NavigateToSection(36))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/35" *@
@*                                 ButtonText="Counter + Spinners" *@
@*                                 ButtonClickCallback="(()=>UI.NavigateToSection(35))" /> *@
@*         @*</NavPanelButtonContainer>*@
@*         @* *@
@*         <NavPanelNavLinkButton Href="projectinfo/3" *@
@*                                ButtonText="Front-end" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(3))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/1" *@
@*                                ButtonText="Back-end" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(1))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/4" *@
@*                                ButtonText="UX/UI + Modeling Software" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(4))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/5" *@
@*                                ButtonText="Cloud Deployment + Containers" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(5))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/6" *@
@*                                ButtonText="Databases" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(6))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/7" *@
@*                                ButtonText="Testing" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(7))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/13" *@
@*                                ButtonText="Why Programming?" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection( 13))" /> *@
@*         <NavPanelNavLinkButton Href="projectinfo/34" *@
@*                                IconClasses="fa-solid fa-envelope" *@
@*                                ButtonText="Contact" *@
@*                                ButtonClickCallback="(()=>UI.NavigateToSection(34))" /> *@
@*     </div> *@
@* </NavPanelContainer> *@
<NavPanelContainer PanelPosition="panel-position-e" NavPanelStatus="@UI.Panels[10].PanelStatus">
    <NavPanelNavLinkButton Href="select-demo/"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-circle-info"
                           ButtonText="Select Demo"
                           ButtonClickCallback="(()=>UI.NavigateToSection(5037))" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="select-demo/5037"
                               ButtonText="Select Demo"
                               ButtonClickCallback="(()=>UI.NavigateToSection(5037))" />
        <NavPanelNavLinkButton Href="select-demo/5038"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="About UI"
                               ButtonClickCallback="(()=>UI.NavigateToSection(5038))" />
    </div>
</NavPanelContainer>
@*
<NavPanelContainer PanelPosition="panel-position-c" NavPanelStatus="@UI.Panels[4].PanelStatus">
    <NavPanelNavLinkButton Href="collyn/17"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-book"
                           ButtonText="Collyn Brenner"
                           ButtonClickCallback="(()=>UI.NavigateToSection( 17))" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="collyn/17"
                               ButtonText="Introduction"
                               ButtonClickCallback="(()=>UI.NavigateToSection( 17))" />
        <NavPanelNavLinkButton Href="collyn/18"
                               ButtonText="Employment History"
                               ButtonClickCallback="(()=>UI.NavigateToSection(18))" />
        <NavPanelNavLinkButton Href="collyn/19"
                               ButtonText="Education History"
                               ButtonClickCallback="(()=>UI.NavigateToSection(19))" />
        <NavPanelNavLinkButton Href="collyn/20"
                               ButtonText='Most Noteable "Done"s'
                               ButtonClickCallback="(()=>UI.NavigateToSection(20))" />
        <NavPanelNavLinkButton Href="collyn/21"
                               ButtonText="Inspirations"
                               ButtonClickCallback="(()=>UI.NavigateToSection(21))" />
        <NavPanelNavLinkButton Href="collyn/22"
                               ButtonText="Objectives"
                               ButtonClickCallback="(()=>UI.NavigateToSection(22))" />
        <NavPanelNavLinkButton Href="collyn/23"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               ButtonClickCallback="(()=>UI.NavigateToSection(23))" />
        <NavPanelNavLinkButton Href="collyn/24"
                               IconClasses="fa-solid fa-rotate-left"
                               ButtonText="Feedback"
                               ButtonClickCallback="(()=>UI.NavigateToSection(24))" />
        <NavPanelNavLinkButton Href="collyn/25"
                               ButtonText="Background"
                               ButtonClickCallback="(()=>UI.NavigateToSection(25))" />
    </div>
</NavPanelContainer>
<NavPanelContainer PanelPosition="panel-position-d" NavPanelStatus="@UI.Panels[5].PanelStatus">
    <NavPanelNavLinkButton Href="invent/26"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-warehouse"
                           ButtonText="Invent"
                           ButtonClickCallback="(()=>UI.NavigateToSection(26))" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="invent/26"
                               ButtonText="Overview"
                               ButtonClickCallback="(()=>UI.NavigateToSection(26))" />
        <NavPanelNavLinkButton Href="invent/27"
                               ButtonText="Future Vision App"
                               ButtonClickCallback="(()=>UI.NavigateToSection(27))" />
        <NavPanelNavLinkButton Href="invent/28"
                               ButtonText="Unified Faith App"
                               ButtonClickCallback="(()=>UI.NavigateToSection(28))" />
        <NavPanelNavLinkButton Href="invent/29"
                               ButtonText="Hang Out Availability App"
                               ButtonClickCallback="(()=>UI.NavigateToSection(29))" />
        <NavPanelNavLinkButton Href="invent/30"
                               ButtonText="Philosophy Orientation App"
                               ButtonClickCallback="(()=>UI.NavigateToSection(30))" />
        <NavPanelNavLinkButton Href="invent/31"
                               ButtonText="Controller Keyboard Prototype"
                               ButtonClickCallback="(()=>UI.NavigateToSection(31))" />
        <NavPanelNavLinkButton Href="invent/32"
                               ButtonText="Audio Game"
                               ButtonClickCallback="(()=>UI.NavigateToSection(32))" />
        <NavPanelNavLinkButton Href="collyn/23"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               ButtonClickCallback="(()=>UI.NavigateToSection(23))" />
    </div>
</NavPanelContainer>
<NavPanelContainer PanelPosition="panel-position-e" NavPanelStatus="@UI.Panels[6].PanelStatus">
    <NavPanelNavLinkButton Href="articles"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-newspaper"
                           ButtonText="Articles"
                           ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(6))" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="article/our-incredible-future"
                               ButtonText="Our Incredible Future"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(6))" />
      @*<NavPanelNavLinkButton Href="article/hierarchy-of-desires-and-the-engineers-struggle"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Hierarchy of Desires & the Engineer's Struggle"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(6))" />
        <NavPanelNavLinkButton Href="article/business-manager-or-technologist-what-is-the-end-of-your-means"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Business Manager or Technologist: What is the End of your Means?"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(6))" />
        <NavPanelNavLinkButton Href="article/essentialism-vs-existentialism-the-modern-worlds-dilemma-and-an-opportunity-for-christian-faith"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Essentialism vs. Existentialism: The Modern World's Dilemma & An Opportunity for Christian Faith"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(6))" />
        <NavPanelNavLinkButton Href="article/psychotherapists-technologists-and-physicians-in-christian-ministry"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Psychotherapists, Technologists, & Physicians in Christian Ministry"
                               ButtonClickCallback="(()=>UI.UpdatePanelsWhenNavigating(6))" />*
        <NavPanelNavLinkButton Href="collyn/23"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               ButtonClickCallback="(()=>UI.NavigateToSection(23))" />
    </div>
</NavPanelContainer>
*@

@code {
    protected override void OnInitialized() =>
        UI.OnUiServiceChanged += UpdateThisComponent;
    void IDisposable.Dispose() =>
        UI.OnUiServiceChanged -= UpdateThisComponent;
    private void UpdateThisComponent(string meaningless) =>
        StateHasChanged();
}
