
@inject NavService NavService

<NavPanelContainer PanelPosition="" NavPanelStatus="@NavPanelAStatus">
    <NavPanelNavLinkButton Href="projects"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-diagram-project"
                           ButtonText="Projects"
                           Section="'A'"
                           ButtonClickCallback="NavService.UpdateNavFromPanel"/>
    <div class="panel-scrollablesection">
      @*<NavPanelNavLinkButton Href="stats"
                               IconClasses="fa-solid fa-chart-line"
                               ButtonText="Statistics"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />*@
        <NavPanelNavLinkButton Href="matchgame"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Match Game"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
      @*<NavPanelNavLinkButton Href="thispwa"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="This PWA"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="hideandseek"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Hide & Seek"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="twodecks"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Two Decks"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="issuetracker"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Issue Tracker"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="gofish"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Go Fish"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="beehivemgmtsystem"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Bee Hive Mgmt System"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="phpcmsandprocessbook"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="PHP CMS & Process Book"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />*@
        <NavPanelNavLinkButton Href="counter"
                               IconClasses="fa-solid fa-plus"
                               ButtonText="Counter"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
      @*<NavPanelNavLinkButton Href="ecommerce"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="E-commerce"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />*@
        <NavPanelNavLinkButton Href="spinners"
                               IconClasses="fa-solid fa-hand-spock"
                               ButtonText="Spinners"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
      @*<NavPanelNavLinkButton Href="djangopollingapp"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Polling App (Django/Python)"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />*@
        <NavPanelNavLinkButton Href="collyn#contact"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
    </div>
</NavPanelContainer>
<NavPanelContainer PanelPosition="panel-position-b" NavPanelStatus="@NavPanelBStatus">
    <NavPanelNavLinkButton Href="knowhow"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-flask"
                           ButtonText="Know-How"
                           Section="'B'"
                           ButtonClickCallback="NavService.UpdateNavFromPanel" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="knowhow#overview"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Overview"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#approach"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Approach"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#csharp"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="C#"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#javascript"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="JS"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#python"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Python"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#php"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="PHP"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#styling"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Styling"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="knowhow#certifications"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Certifications"
                               Section="'B'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="projects"
                               IconClasses="fa-solid fa-diagram-project"
                               ButtonText="Projects"
                               Section="'A'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#contact"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
    </div>
</NavPanelContainer>
<NavPanelContainer PanelPosition="panel-position-c" NavPanelStatus="@NavPanelCStatus">
    <NavPanelNavLinkButton Href="collyn"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-book"
                           ButtonText="Collyn Brenner"
                           Section="'C'"
                           ButtonClickCallback="NavService.UpdateNavFromPanel" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="collyn#background"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Background"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#workhistory"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Work History"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#educationhistory"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Education History"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#noteabledones"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText='Noteable "Done"s'
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#inspirations"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Inspirations"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#goals"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Goals"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#contact"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#feedback"
                               IconClasses="fa-solid fa-rotate-left"
                               ButtonText="Feedback"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
    </div>
</NavPanelContainer>
<NavPanelContainer PanelPosition="panel-position-d" NavPanelStatus="@NavPanelDStatus">
    <NavPanelNavLinkButton Href="invent"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-warehouse"
                           ButtonText="Invent"
                           Section="'D'"
                           ButtonClickCallback="NavService.UpdateNavFromPanel" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="invent#overview"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Overview"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="invent#futurevision"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Future Vision App"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="invent#unifiedchurch"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Unified Church App"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="invent#hangoutavailability"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Hang Out Availability App"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="invent#philosophyorientation"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Philosophy Orientation App"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="invent#controllerkeyboardprototype"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Controller Keyboard Prototype"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="invent#audiogame"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Audio Game"
                               Section="'D'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="collyn#contact"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
    </div>
</NavPanelContainer>
<NavPanelContainer PanelPosition="panel-position-e" NavPanelStatus="@NavPanelEStatus">
    <NavPanelNavLinkButton Href="articles"
                           TopLvlClasses="panel-header"
                           IconClasses="fa-solid fa-newspaper"
                           ButtonText="Articles"
                           Section="'E'"
                           ButtonClickCallback="NavService.UpdateNavFromPanel" />
    <div class="panel-scrollablesection">
        <NavPanelNavLinkButton Href="article/our-incredible-future"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Our Incredible Future"
                               Section="'E'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
      @*<NavPanelNavLinkButton Href="article/hierarchy-of-desires-and-the-engineers-struggle"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Hierarchy of Desires & the Engineer's Struggle"
                               Section="'E'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="article/business-manager-or-technologist-what-is-the-end-of-your-means"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Business Manager or Technologist: What is the End of your Means?"
                               Section="'E'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="article/essentialism-vs-existentialism-the-modern-worlds-dilemma-and-an-opportunity-for-christian-faith"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Essentialism vs. Existentialism: The Modern World's Dilemma & An Opportunity for Christian Faith"
                               Section="'E'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        <NavPanelNavLinkButton Href="article/psychotherapists-technologists-and-physicians-in-christian-ministry"
                               IconClasses="fa-solid fa-wand-magic-sparkles"
                               ButtonText="Psychotherapists, Technologists, & Physicians in Christian Ministry"
                               Section="'E'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />*@
        <NavPanelNavLinkButton Href="collyn#contact"
                               IconClasses="fa-solid fa-envelope"
                               ButtonText="Contact"
                               Section="'C'"
                               ButtonClickCallback="NavService.UpdateNavFromPanel" />
        @* potnetially include some of the below articles; keeping as ideas for future articles *@
        @*
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="our-incredible-future">
                <span class="icon fa-solid fa-wand-magic-sparkles" aria-hidden="true"></span>Our Incredible Future
            </NavLink>
        </div>
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="nurse-heros-and-nothing-engineers">    
                <span class="icon fa-solid fa-house" aria-hidden="true"></span>Nurse Heros & Nothing Engineers
            </NavLink>
        </div>
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="emergent-unpredicatble-artifacts">
                <span class="icon fa-solid fa-wand-magic-sparkles" aria-hidden="true"></span>Unpredictable Emergent Artifacts
            </NavLink>
        </div>
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="your-preferred-thought-types-are-limiting-you">
                <span class="icon fa-solid fa-wand-magic-sparkles" aria-hidden="true"></span>Your Preferred Thought Types are Limiting You
            </NavLink>
        </div>
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="critical-thinking-is-being-taught-last">
                <span class="icon fa-solid fa-house" aria-hidden="true"></span>Critical Thinking Is Being Taught Last
            </NavLink>
        </div>
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="the-young-persons-dilemma">
                <span class="icon fa-solid fa-wand-magic-sparkles" aria-hidden="true"></span>The Young Person's Dilemma
            </NavLink>
        </div>
        <div class="nav-item" @onclick="(()=>UpdateNavFromRoute('E'))">
            <NavLink class="nav-link" href="contact">
                <span class="icon fa-solid fa-envelope" aria-hidden="true"></span>Contact
            </NavLink>
        </div>
        *@
    </div>
</NavPanelContainer>

@code {
    [Parameter]
    public string NavPanelAStatus { get; set; } = "";
    [Parameter]
    public string NavPanelBStatus { get; set; } = "";
    [Parameter]
    public string NavPanelCStatus { get; set; } = "";
    [Parameter]
    public string NavPanelDStatus { get; set; } = "";
    [Parameter]
    public string NavPanelEStatus { get; set; } = "";

    [Parameter]
    public EventCallback<char> UpdateNavCallback { get; set; }
    private async Task UpdateNavFromRoute(char character) =>
        await UpdateNavCallback.InvokeAsync(character);

    [Parameter]
    public EventCallback<char> ShowLayoutControlsCallback { get; set; }
    private async Task ShowLayoutControls(char character) =>
        await ShowLayoutControlsCallback.InvokeAsync(character);
}
